{% extends "KhatovarWebBundle::layout.html.twig" %}

{% block inarticle %}
    <h2>Ajouter une photo</h2>

    <div class="well">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_row(form.file) }}
        </div>

        {{ form_row(form.submit, { 'attr': {'class': 'btn btn-default'} }) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
