<div class="form-group">
    {{ form_row(form.alt, { 'attr': {'class': 'form-element'} }) }}
</div>
<div class="form-group">
    {{ form_row(form.entity, { 'attr': {'class': 'form-element'} }) }}
</div>
{% if form.class is defined and 'hidden' not in form.class.vars.block_prefixes %}
    <div class="form-group">
        {{ form_row(form.class, { 'attr': {'class': 'form-element'} }) }}
    </div>
{% endif %}
{% if form.entry is defined and 'hidden' not in form.entry.vars.block_prefixes %}
    <div class="form-group">
        {{ form_row(form.entry, { 'attr': {'class': 'form-element'} }) }}
    </div>
{% endif %}
{{ form_row(form.submit, { 'attr': {'class': 'btn btn-default'} }) }}
{{ form_rest(form) }}
