{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <h1>La vie de camp</h1>

    <p>
        La compagnie ne se positionne pas que sur des animations de types théâtrales. Au contraire, la
        <b>participation active du public</b> est un élément central de notre politique.
        Ainsi le camp est conçu comme un espace ouvert, véritable lieu d'accueil. Le public est
        invité à s'asseoir aux ateliers et à y passer un moment en notre compagnie.
    </p>
    <p>
        Diverses initiations à l'artisanat sont proposées (développées ci-dessous).
        Elles sont parfaitement adaptées à un <b>jeune public qui est le coeur de notre
            cible</b>&nbsp;! Les enfants et adolescents sont accompagnés
        dans leurs réalisations par nos animateurs, mais aussi par leurs parents selon
        leur convenance. Nous avons constaté qu'un bon nombre d'adultes se prend aussi
        au jeu, et se plait à confectionner des objets manufacturés.
    </p>
    <p>
        <b>Les visiteurs ont tout loisir de repartir avec leurs réalisations</b>&nbsp;! Selon la
        matière première utilisée et ce qui est convenu avec les organisateurs de la manifestation,
        les objets sont emportés gratuitement.
    </p>

    <div class="link_list">
        <a href="{{ path('khatovar_web_fight') }}" title="">Le&nbsp;combat</a>&nbsp;-
        <a href="{{ path('khatovar_web_camp', {'atelier': 'campement'}) }}" title="">Le&nbsp;campement</a>&nbsp;-
        <a href="{{ path('khatovar_web_camp', {'atelier': 'forge'}) }}" title="">La&nbsp;forge</a>&nbsp;-
        <a href="{{ path('khatovar_web_camp', {'atelier': 'cuir'}) }}" title="">Le&nbsp;cuir</a>&nbsp;-
        <a href="{{ path('khatovar_web_camp', {'atelier': 'maille'}) }}" title="">La&nbsp;maille</a>&nbsp;-
        <a href="{{ path('khatovar_web_camp', {'atelier': 'armes'}) }}" title="">Armes&nbsp;et&nbsp;armures</a>&nbsp;-
        <a href="{{ path('khatovar_web_camp', {'atelier': 'herbo'}) }}" title="">L'herboristerie&nbsp;et&nbsp;la&nbsp;cuisine</a>&nbsp;-
        <a href="{{ path('khatovar_web_camp', {'atelier': 'tissage'}) }}" title="">Le&nbsp;tissage</a>&nbsp;-
        <a href="{{ path('khatovar_web_camp', {'atelier': 'calligraphie'}) }}" title="">La&nbsp;calligraphie</a>
    </div>
{% endblock %}
