{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <h1>La forge</h1>

    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824111813-20d3e81a.jpg'|popup_picture('float floatleft') }}
    {% endautoescape %}
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/09/02/20110902113315-698a2b2f.jpg'|popup_picture('float floatright') }}
    {% endautoescape %}
    <p>
        La compagnie dispose d’une forge médiévale conçue et fabriquée par nos soins… Elle comprend
        {% autoescape false %}
        ({{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824111949-c1612e01.jpg'|link_picture('un soufflet restauré et en parfait état de marche') }},
        {% endautoescape %}
        un grand foyer <b>(rare pour les forges ambulantes&nbsp;!)</b>, une enclume et naturellement tout l’attirail d’outils allant de pair avec cette activité. Sur une grande table
        {% autoescape false %}
        {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831124952-9cd7c555.jpg'|link_picture('sont exposés des objets forgés') }}
        {% endautoescape %}
        afin de présenter le travail de la forge.
    </p>
    <p>
        l’ensemble est mis en oeuvre et animé par notre forgeron et son assistant (au soufflet
        et à la frappe). Habituellement, une lame est forgée pendant la
        manifestation. Notre forgeron commente et détaille les différentes étapes de la fabrication
        de celle-ci.
    </p>
    <p>
        Nous avons aussi l’habitude de convier un adolescent à assister notre forgeron pendant
        quelques minutes. Ainsi les plus jeunes peuvent s’amuser à frapper l’acier chauffé à rouge&nbsp;!
    </p>

    <div class="container flex-container-always">
        <div class="navigation nav-left">
            <a href="{{ path('khatovar_web_camp', {'atelier': 'campement'}) }}"><img src="{{ asset('bundles/khatovarweb/images/hache_gauche.png') }}" class="photolink" alt="" /><br />
                Le campement</a>
        </div>
        <div class="navigation nav-center">
            <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php?/category/10" rel="external"><img src="{{ asset('bundles/khatovarweb/images/camera.png') }}" class="photolink" alt="" /><br />
                Album photo</a>
        </div>
        <div class="navigation nav-right">
            <a href="{{ path('khatovar_web_camp', {'atelier': 'cuir'}) }}"><img src="{{ asset('bundles/khatovarweb/images/hache_droite.png') }}" class="photolink" alt="" /><br />
                L'atelier cuir</a>
        </div>
    </div>
{% endblock %}
