{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <h1>L\'atelier Cuir</h1>

    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831122009-ce3badf1.jpg'|popup_picture('float floatleft') }}
    {% endautoescape %}
    <p>
        Le camp dispose d\'un atelier cuir, se trouvant sous une tente Viking, comprenant le matériel
        nécessaire aux réalisations ainsi que le mobilier adéquat pour accueillir le public dans les meilleures
        conditions. L\'atelier est animé par 2 personnes en permanence.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831122022-25e94b65.jpg'|popup_picture('float floatright') }}
    {% endautoescape %}
    <p>
        Le public est invité à s\'asseoir et à confectionner des objets en cuir. Selon l\'âge
        et les goûts du visiteur, il peut lui être proposé de réaliser en quelques minutes
        un bracelet ou une bourse en cuir. Nous mettons à disposition des cuirs <b>de toutes
            couleurs, des plus classiques (marron) ou plus modernes (rose, violet, etc.)</b>.
    </p>
    <p>
        Les animateurs ne font pas que des démonstrations sur l\'artisanat du cuir, mais accompagnent les
        enfants et adolescents dans leurs réalisations. Naturellement, ils répondent aux
        questions des parents et des plus curieux. Parfois, ils peuvent montrer la confection
        d\'objets plus sophistiqués comme des escarcelles, afin d\'apporter une démonstration
        authentique au public qui en exprime le souhait.
    </p>

    <div class="container flex-container-always">
        <div class="navigation nav-left">
            <a href="{{ path('khatovar_web_camp', {'atelier': 'forge'}) }}"><img src="{{ asset('bundles/khatovarweb/images/hache_gauche.png') }}" class="photolink" alt="" /><br />
                La forge</a>
        </div>
        <div class="navigation nav-center">
            <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php?/category/14" rel="external"><img src="{{ asset('bundles/khatovarweb/images/camera.png') }}" class="photolink" alt="" /><br />
                Album photo</a>
        </div>
        <div class="navigation nav-right">
            <a href="{{ path('khatovar_web_camp', {'atelier': 'maille'}) }}"><img src="{{ asset('bundles/khatovarweb/images/hache_droite.png') }}" class="photolink" alt="" /><br />
                L'atelier maille</a>
        </div>
    </div>
{% endblock %}
