{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <h1>Le campement</h1>

    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824114318-c5ba5e43.jpg'|popup_picture('float floatleft') }}
    {% endautoescape %}
    <p>
        La compagnie a construit un camp médiéval apportant un cachet incontournable à ses animations…
        La vie de la compagnie s\'organise autour du camp, puisque durant ses animations, ses membres
        y vivent, y mangent et y dorment. Le camp comprend la forge, 3 tentes dites Vikings
        {% autoescape false %}
        ({{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/09/02/20110902113505-4506ec52.jpg'|link_picture('vue aérienne de nos tentes') }},
        {% endautoescape %}
        {% autoescape false %}
        {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831125228-6244e820.jpg'|link_picture('vue panoramique') }})
        {% endautoescape %}
        et un foyer animé toute la matinée pour la préparation du repas. Il n\'est pas rare que nos
        cuisinières livrent quelques recettes et conseils aux plus gourmands&nbsp;!
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/09/19/20110919164022-86bbbb8b.jpg'|popup_picture('float floatright') }}
    {% endautoescape %}
    <p>
        La compagnie possède aussi tout un mobilier (râtelier d\'armes, mannequin, coffres) et un équipement
        (cottes de mailles, épées, haches, etc.) exposés. Nous assurons toute la journée, des animations au sein
        du camp afin d\'expliquer aux visiteurs l\'utilisation des pièces exposées, et de procéder à quelques
        essayages.
    </p>
    <p>
        <b>Note importante&nbsp;:</b> contrairement aux habitudes souvent observées, l\'ensemble du camp est ouvert au public.
        Le mobilier et l\'équipement exposés sont accessibles et utilisables par les visiteurs. Le camp n\'est pas
        délimité par des cordes, interdisant l\'intrusion du public dans le camp. Seuls le foyer et la forge
        sont délimités et balisés pour des raisons évidentes de sécurité.
    </p>

    <div class="container flex-container-always">
        <div class="navigation nav-left">
            <a href="{{ path('khatovar_web_fight') }}"><img src="{{ asset('bundles/khatovarweb/images/hache_gauche.png') }}" class="photolink" alt="" />
                <br />
                Le combat</a>
        </div>
        <div class="navigation nav-center">
            <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php?/category/12" rel="external"><img src="{{ asset('bundles/khatovarweb/images/camera.png') }}" class="photolink" alt="" /><br />
                Album photo</a>
        </div>
        <div class="navigation nav-right">
            <a href="{{ path('khatovar_web_camp', {'atelier': 'forge'}) }}"><img src="{{ asset('bundles/khatovarweb/images/hache_droite.png') }}" class="photolink" alt="" /><br />
                La forge</a>
        </div>
    </div>
{% endblock %}
