{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <h1>L’atelier Mailles</h1>

    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824110448-5d14eea8.jpg'|popup_picture('float floatleft') }}
    {% endautoescape %}
    <p>
        L’atelier de mailles est conçu de la même manière que l’atelier cuir, sous une tente Viking.
        Cet atelier est lui aussi animé par 2 personnes en continu.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831132159-cc54d487.jpg'|popup_picture('float floatright') }}
    {% endautoescape %}
    <p>
        Les visiteurs peuvent s’asseoir à tout moment et démarrer la confection d’un objet
        en mailles. Souvent, il est proposé de réaliser un bracelet afin de ne pas retenir plus
        que de raison les familles que nous accueillons. Nous disposons naturellement d’anneaux
        en acier pour la fabrication, mais aussi <b>d’anneaux de cuivre qui conviennent davantage
            aux très jeunes enfants</b>. Le cuivre a en effet l’avantage d’être plus souple et malléable
        que l’acier.
    </p>
    <p>
        Les enfants peuvent réellement <b>personnaliser à leur gré leur bracelet</b>, car ils peuvent
        varier le diamètre des anneaux, la couleur et le type du maillage.
    </p>
    <p>
        Naturellement les animateurs accompagnent les enfants et adultes dans leurs travaux. Mais
        ils en profitent aussi pour présenter les différents types de maille existants, leur
        origine et leur utilisation dans le passé. l’atelier a donc aussi vocation à informer les
        visiteurs et leur faire découvrir un artisanat qu’ils méconnaissent.
    </p>

    <div class="container flex-container-always">
        <div class="navigation nav-left">
            <a href="{{ path('khatovar_web_camp', {'atelier': 'cuir'}) }}"><img src="{{ asset('bundles/khatovarweb/images/hache_gauche.png') }}" class="photolink" alt="" /><br />
                L'atelier cuir</a>
        </div>
        <div class="navigation nav-center">
            <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php?/category/11" rel="external"><img src="{{ asset('bundles/khatovarweb/images/camera.png') }}" class="photolink" alt="" /><br />
                Album photo</a>
        </div>
        <div class="navigation nav-right">
            <a href="{{ path('khatovar_web_camp', {'atelier': 'armes'}) }}"><img src="{{ asset('bundles/khatovarweb/images/hache_droite.png') }}" class="photolink" alt="" /><br />
                L’atelier armes et armures</a>
        </div>
    </div>
{% endblock %}
