{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <h1>L'herboristerie et la cuisine</h1>

    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824114026-576eb066.jpg'|popup_picture('float floatleft') }}
    {% endautoescape %}
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824110441-bf7c2a91.jpg'|popup_picture('float floatright') }}
    {% endautoescape %}
    <p>
        Que serait un camp médiéval sans un chaudron fumant au-dessus d'un bon feu de bois&nbsp;?
        Toute la journée, nos cuisinières nous mitonnent de bons petits plats et quelques biscuits
        en prévision des repas. Les bonnes odeurs qui règnent ainsi sur le camp mettent l'eau à la
        bouche&nbsp;! (mais pour d'évidentes raisons de sécurité, cet espace est interdit au public)
    </p>
    <p>
        En revanche, les visiteurs pourront découvrir la cuisine médiévale à travers une série de
        jeux&nbsp;: blind test des légumes médiévaux, loto des herbes et épices, bien sûr enrichis des
        explications de nos animateurs.
    </p>
    <p>
        À l'atelier herboristerie, chaman et sorcières présentent les simples et leur utilisation
        en cuisine comme en médecine. Les visiteurs pourront donc apprendre quelques recettes de
        grand-mère, remèdes de charlatans, voire secrets d'empoisonneur.
    </p>

    <div class="container flex-container-always">
        <div class="navigation nav-left">
            <a href="{{ path('khatovar_web_camp', {'atelier': 'armes'}) }}"><img src="{{ asset('bundles/khatovarweb/images/hache_gauche.png') }}" class="photolink" alt="" /> <br />
                L'atelier armes et armures</a>
        </div>
        <div class="navigation nav-center">
            <!--
            <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php?/category/12" rel="external"><img src="{{ asset('bundles/khatovarweb/images/camera.png') }}" class="photolink" alt="" /><br />
                Album photo</a>
                -->
        </div>
        <div class="navigation nav-right">
            <a href="{{ path('khatovar_web_camp', {'atelier': 'tissage'}) }}"><img src="{{ asset('bundles/khatovarweb/images/hache_droite.png') }}" class="photolink" alt="" /><br />
                Le tissage</a>
        </div>
    </div>
{% endblock %}
