{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <h2>Technique</h2>

    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824113929-1bb02797.jpg'|popup_picture('float floatright') }}
    {% endautoescape %}
    <p>
        Notre compagnie de mercenaire ne comportait à ses débuts que quatre combattants. Chacun avec son arme respective
        (épée à une main, hache double, épée à deux mains, épée à une main et demie). Nous avons pris en considération
        les attributs de chacune de ses armes pour créer nos enchaînements. C'est de là qu'est née notre spécificité.
    </p>
    <p>
        Nous ne proposons pas de combat classique avec épée contre épée&nbsp;: <b>notre style fait dans le spectaculaire,
            nos costumes posent le décor et nos armes donnent le rythme</b>.
    </p>
    <p>
        Pour cela, nous travaillons sans cesse de nouvelles combinaisons d'armes, d'enchaînements, de coups et de
        déplacements. Avec l'arrivée de nouveaux mercenaires, nous avons étoffé nos combats en mettant en scène du
        «&nbsp;deux contre un&nbsp;».
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831133230-5a4db130.jpg'|popup_picture('float floatleft') }}
    {% endautoescape %}
    <p>
        Nous commençons à intégrer des guerrières dans nos scénarios. La différence de physique étant souvent en défaveur
        des femmes, il est rare d'en voir combattre. Notre compagnie souhaite briser cette différence. C'est un travail
        spécifique, mais la vivacité et l'énergie des femmes apporte un aspect nouveau aux combats.
    </p>
    <p>
        <b>Notre inspiration étant basée surtout dans l'imaginaire</b>, chacun est libre de choisir son arme et son
        costume, sans limites d'époque ou de style. La seule chose que l'on demande c'est que l'arme utilisée n'occasionne
        pas de blessure à chaque coup… Ce qui exclut les fléaux et les becs de corbin par exemple.
    </p>
    <p>
        Pour la création d'enchaînements, nous débutons par du combat libre, au ralenti, afin de voir comment chaque arme
        se comporte en situation «&nbsp;réelle&nbsp;» ou comment bien réaliser tel ou tel mouvement.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824114048-c6289da4.jpg'|popup_picture('float floatright') }}
    {% endautoescape %}
    <p>
        Puis, améliorant les coups, nous insérons dans l'enchaînement du jeu d'acteur, une histoire et une scénarisation.
        Chacun des participants prend sa place dans la prestation. Une fois la trame éprouvée, il faut l'essayer en
        armure&nbsp;: on se rend compte à ce moment-là que bon nombre de mouvements sont ralentis ou gênés, et la
        chorégraphie s'en trouve modifiée.
    </p>
    <p>
        Tous les coups sont prévus, tous les enchaînements sont répétés des centaines de fois. Si à la fin d'une
        représentation vous avez l'impression que rien ne s'est passé comme prévu… c'est que nous aurons réussi notre
        mission.&nbsp; <b>À l'heure actuelle, notre troupe peut présenter une demi-heure de combat scénarisé</b>.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824120113-de315b5d.jpg'|popup_picture('float floatleft') }}
    {% endautoescape %}
    <p>
        Nous travaillons aussi le combat libre afin de ne pas perdre l'instinct qui fait le combattant. Les attitudes, les
        regards, les positions, l'énergie dégagée, tout ça ne peut s'exprimer que lors d'assauts réels. L'adrénaline et la
        pression lors de ses moments intenses transforment complètement «&nbsp;l'acteur&nbsp;» en «&nbsp;combattant&nbsp;».
    </p>
    <p>
        Ces passes d'armes de 1 min 30 s à 2&nbsp;min sont faites sous l'œil inquisiteur du maître d'arme qui châtie tous
        mauvais gestes et comportement non régulier. Certains coups trop dangereux sont interdits (estoc, revers au pal…),
        le combat doit être correct et précis. Et il ne faut pas oublier que le lendemain, il faut retourner à la vie
        civile…
    </p>
    <p>
        Dans nos enchaînements, nous insérons des gammes classiques, mais aussi certaines bottes et coups spéciaux. Ces
        derniers coups sont les plus longs à travailler, car ils exigent énormément de répétition et de précision pour ne
        pas blesser son partenaire. L'utilisation d'armes dites «&nbsp;lourdes&nbsp;» nous oblige aussi à une extrême
        prudence.
    </p>
    <p>
        Tous nos spectacles se déroulent dans le respect des personnes, et permettent à chacun d'avoir son moment de gloire.
    </p>

    <div class="container flex-container-always">
        <div class="navigation nav-left">
            <a href="{{ path('khatovar_web_fight', {'pratique': 'echauffement'}) }}"><img src="{{ asset('bundles/khatovarweb/images/hache_gauche.png') }}" class="photolink" alt="" />
                <br />
                Échauffement</a>
        </div>
        <div class="navigation nav-center"></div>
        <div class="navigation nav-right">
            <a href="{{ path('khatovar_web_fight', {'pratique': 'entrainement'}) }}"><img src="{{ asset('bundles/khatovarweb/images/hache_droite.png') }}" class="photolink" alt="" /><br />
                Entraînement</a>
        </div>
    </div>
{% endblock %}
