{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <h1>Le combat</h1>

    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824131122-9d26b566.jpg'|popup_picture('float floatright') }}
    {% endautoescape %}
    <p>
        —&nbsp;Bonjour, pourriez-vous m\'indiquer la zone d\'entraînement, s\'il vous plaît&nbsp;?<br />
        —&nbsp;Bien sûr, approchez-vous et tendez l\'oreille. Vous entendez les hurlements et les cris&nbsp;? Oui&nbsp;? Eh bien,
        vous les suivez et vous devriez arriver devant le maître d\'armes et ses recrues. Bonne chance mon gars,
        tu vas en avoir besoin.<br />
        —&nbsp;Merci bien, m\'sieur.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824113943-500c87af.jpg'|popup_picture('float floatleft') }}
    {% endautoescape %}
    <p>
        Vous l\'aurez compris, ici on va parler de ce qui fait qu\'une compagnie médiévale se transforme en compagnie
        de combattants et de guerriers, à savoir, le combat&nbsp;!!! Nous sommes des mercenaires, offrant nos services
        d\'homme d\'armes au plus offrant.<br />
    </p>
    <p>
        Pas de style préétabli, pas de distinctions de taille, de sexe, d\'ethnie… Qui que tu sois, du moment que tu sais
        tenir une arme, c\'est direction l\'entraînement. Car nous devons honorer nos contrats comme nous l\'avons toujours
        fait, avec brio.<br />
    </p>
    <p>
        Bon, en ce moment, c\'est une période de paix, nous mettons nos compétences de guerriers au service du public pour
        lui proposer des démonstrations réalistes, comiques et parfois brutales. Pour parvenir à ce subtil mélange de jeux
        d\'acteur, et de martialité, il faut s\'entraîner.<br />
    </p>
    <p>
        L\'entraînement se divise en 3 grandes parties, chacune détaillée ci-dessous&nbsp;:<br />
    </p>

    <div class="link_list">
        <a href="{{ path('khatovar_web_fight', {'pratique': 'echauffement'}) }}" title="">Échauffement</a>&nbsp;-
        <a href="{{ path('khatovar_web_fight', {'pratique': 'technique'}) }}" title="">Technique</a>&nbsp;-
        <a href="{{ path('khatovar_web_fight', {'pratique': 'entrainement'}) }}" title="">Entraînement</a>
    </div>

    <div class="container flex-container-always">
        <div class="navigation nav-left">
            <a href="{{ path('khatovar_web_camp') }}"><img src="{{ asset('bundles/khatovarweb/images/hache_gauche.png') }}" class="photolink" alt="" /><br />
                Retour à l\'introduction</a>
        </div>
        <div class="navigation nav-center">
            <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php?/category/33" rel="external"><img src="{{ asset('bundles/khatovarweb/images/camera.png') }}" class="photolink" alt="" /><br />
                Album photo</a>
        </div>
        <div class="navigation nav-right">
            <a href="{{ path('khatovar_web_camp', {'atelier': 'campement'}) }}"><img src="{{ asset('bundles/khatovarweb/images/hache_droite.png') }}" class="photolink" alt="" /><br />
                Le campement</a>
        </div>
    </div>
{% endblock %}
