{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <h1>Fête des vendanges, Saumur, le 27 septembre 2009</h1>
    <div class="container flex-container">
        <div class="photo_exactions">
            {% autoescape false %}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/09/02/20110902113037-e714bb88.jpg'|popup_picture('photo') }}
            {% endautoescape %}
        </div>
        <div class="exactions">
            <p>
                Notre camp étant installé au pied du château, nous avons bénéficié d’une superbe
                vue sur la Loire. Notre forgeron avait décoré sa forge d’une
                {% autoescape false %}
                {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/09/02/20110902113236-3b41f317.jpg'|link_picture('nouvelle peau d’ours du plus bel effet') }}.
                {% endautoescape %}
                Nos combattants ont montré leurs prouesses en lice.
                Enfin nous avons baptisé Manfried, notre nouveau mannequin. Pour cette der’ de la saison,
                la compagnie n’avait donc pas lésiné sur les nouveautés&nbsp;!!!
            </p>
            <p>
                Sur les articles du Courrier de l’Ouest, nous avons eu la part belle des photos,
                avec <a href="{{ asset('bundles/khatovarweb/photos/articles/2009/article_saumur_co_sa26102009.jpg') }}">la conférence de presse</a>
                du vendredi, le samedi à la foire expo, et l’article du lundi (
                <a href="{{ asset('bundles/khatovarweb/photos/articles/2009/article_saumur_co_lu28102009-1.jpg') }}">notre combat en lice</a>,
                <a href="{{ asset('bundles/khatovarweb/photos/articles/2009/article_saumur_co_lu28102009-3.jpg') }}">notre forge et notre atelier de cuir</a>).
            </p>
            <div class="note_exaction">
                <b>La photo&nbsp;:</b> nous avons souhaité la bienvenue à notre nouvelle recrue&nbsp;! Nous l’avons intronisé écuyer de
                notre chevalier. L’instant a été fêté autour d’un repas festif accompagné d’hydromel…
            </div>
            <div class="photo_exactions">
                <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php?/category/43" rel="external"><img src="{{ asset('bundles/khatovarweb/images/camera.png') }}" class="photolink" alt="" />
                    <br />
                    Album photo</a>
            </div>
        </div>
    </div>

    <h1>Fête des fous, Machecoul, le 11 et 12 juillet 2009</h1>
    <div class="container flex-container">
        <div class="photo_exactions">
            {% autoescape false %}
            {{ asset('bundles/khatovarweb/photos/references/2009/forge_demarrage.jpg')|popup_picture('photo') }}
            {% endautoescape %}
        </div>
        <div class="exactions">
            <p>
                Malgré une brève pluie le dimanche matin, la forge a bien fonctionné. Notre compagnie
                a apprécié d’avoir une 3e tente flambant neuve, agrémentant notre confort et notre
                espace de vie. Le stand de maille a innové avec l’utilisation d’anneaux de cuivre, tellement
                plus facile à manipuler pour les jeunes enfants.
            </p>
            <div class="note_exaction">
                <b>La photo&nbsp;:</b> le démarrage de la forge est toujours un moment privilégié,
                où notre forgeron a toujours du mal à trouver un assistant au soufflet pour activer
                le feu. On se demande pourquoi…
            </div>
            <div class="photo_exactions">
                <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php?/category/35" rel="external"><img src="{{ asset('bundles/khatovarweb/images/camera.png') }}" class="photolink" alt="" />
                    <br />
                    Album photo</a>
            </div>
        </div>
    </div>

    <h1>Fête médiévale, St Denis d’Anjou, le 31 mai 2009</h1>
    <div class="container flex-container">
        <div class="photo_exactions">
            {% autoescape false %}
            {{ asset('bundles/khatovarweb/photos/references/2009/forge_pierre_buvant.jpg')|popup_picture('photo') }}
            {% endautoescape %}
        </div>
        <div class="exactions">
            <p>
                Une fête médiévale réussie dans un décor authentique. Nous avons été impressionnés
                par les magnifiques halles parfaitement conservées. Nous avons collaboré avec d’autres
                compagnies (notamment Minas Naoned) pour organiser des animations alliant nos effectifs
                et nos compétences.
            </p>
            <div class="note_exaction">
                <b>La photo&nbsp;:</b> la forge, ca donne soif&nbsp;!!!
            </div>
            <div class="photo_exactions">
                <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php?/category/36" rel="external"><img src="{{ asset('bundles/khatovarweb/images/camera.png') }}" class="photolink" alt="" />
                    <br />
                    Album photo</a>
            </div>
        </div>
    </div>

    <h1>La baillée des filles, Ponts de cé, le 21 mai 2009</h1>
    <div class="container flex-container">
        <div class="photo_exactions">
            {% autoescape false %}
            {{ asset('bundles/khatovarweb/photos/references/2008/clement-costume.jpg')|popup_picture('photo') }}
            {% endautoescape %}
        </div>
        <div class="exactions">
            <p>
                Journée chaude, ciel bleu dégagé, un public venu massivement (8000 visiteurs&nbsp;!). Notre journée
                a été plutôt bien remplie, nos stands n’ont pas désempli de toute la manifestation. Nous
                sommes très heureux de notre participation à cette fête si populaire et si reconnue&nbsp;! D’ailleurs,
                notre forge a retenu l’attention dans l’article du Courrier de l’ouest
                (l’article&nbsp;: <a href="{{ asset('bundles/khatovarweb/photos/articles/2009/article_baille-1_2009.jpg') }}">1ère partie</a>,
                <a href="{{ asset('bundles/khatovarweb/photos/articles/2009/article_baille-2_2009.jpg') }}">2e partie</a>).
            </p>
            <div class="note_exaction">
                <b>La photo&nbsp;:</b> hé oui, les hommes en armure ça impressionne toujours&nbsp;!
            </div>
            <div class="photo_exactions">
                <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php?/category/42" rel="external"><img src="{{ asset('bundles/khatovarweb/images/camera.png') }}" class="photolink" alt="" />
                    <br />
                    Album photo</a>
            </div>
        </div>
    </div>

    <h1>Fête Ste Catherine, Chateauneuf sur Sarthe, le 22 nov. 2008</h1>
    <div class="container flex-container">
        <div class="photo_exactions">
            {% autoescape false %}
            {{ asset('bundles/khatovarweb/photos/references/2008/chateauneuf.jpg')|popup_picture('photo') }}
            {% endautoescape %}
        </div>
        <div class="exactions">
            <p>
                La forge a eu du succès par cette journée fraîche. L’ambiance était chaleureuse et conviviale
                autour du feu revigorant. Les stands ont été pris d’assaut. Notamment, chaque enfant repartait
                avec la bourse de cuir qu’il avait lui-même confectionné, gracieusement offerte. La compagnie
                était accompagnée de quelques chanteurs pour l’occasion.
            </p>
            <p>
                La forge a eu du succès par cette journée fraîche. L’ambiance était chaleureuse et conviviale
                autour du feu revigorant. Les stands ont été pris d’assaut. Notamment, chaque enfant repartait
                avec la bourse de cuir qu’il avait lui-même confectionné, gracieusement offerte. La compagnie
                était accompagnée de quelques chanteurs pour l’occasion.
            </p>
        </div>
    </div>

    <div class="container flex-container-always">
        <div class="navigation"></div>
        <div class="navigation"></div>
        <div class="navigation">
            <a href="{{ path('khatovar_web_references', {'year': 2010}) }}"><img src="{{ asset('bundles/khatovarweb/images/hache_droite.png') }}" class="photolink" alt="" /><br />
                Année suivante</a>
        </div>
    </div>
{% endblock %}
