{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <h1>Fête du Chausson aux Pommes, Saint-Calais (Sarthe), 2 septembre 2012</h1>
    <div class="cycle-slideshow" data-cycle-slides="> a"  data-cycle-center-horz=true data-cycle-center-vert=true>
        {% autoescape false %}
        {{ asset('bundles/khatovarweb/photos/references/saint_calais/photo1.jpg')|popup_picture('slide') }}
        {{ asset('bundles/khatovarweb/photos/references/saint_calais/photo2.jpg')|popup_picture('slide') }}
        {{ asset('bundles/khatovarweb/photos/references/saint_calais/photo3.jpg')|popup_picture('slide') }}
        {{ asset('bundles/khatovarweb/photos/references/saint_calais/photo4.jpg')|popup_picture('slide') }}
        {{ asset('bundles/khatovarweb/photos/references/saint_calais/photo5.jpg')|popup_picture('slide') }}
        {% endautoescape %}
    </div>

    <h1>Domaine des Mésangères, Mézeray (Sarthe), 15 août 2012</h1>
    <div class="cycle-slideshow" data-cycle-slides="> a"  data-cycle-center-horz=true data-cycle-center-vert=true>
        {% autoescape false %}
        {{ asset('bundles/khatovarweb/photos/references/mesangere/photo1.jpg')|popup_picture('slide') }}
        {{ asset('bundles/khatovarweb/photos/references/mesangere/photo2.jpg')|popup_picture('slide') }}
        {{ asset('bundles/khatovarweb/photos/references/mesangere/photo3.jpg')|popup_picture('slide') }}
        {{ asset('bundles/khatovarweb/photos/references/mesangere/photo4.jpg')|popup_picture('slide') }}
        {{ asset('bundles/khatovarweb/photos/references/mesangere/photo5.jpg')|popup_picture('slide') }}
        {{ asset('bundles/khatovarweb/photos/references/mesangere/photo6.jpg')|popup_picture('slide') }}
        {{ asset('bundles/khatovarweb/photos/references/mesangere/photo7.jpg')|popup_picture('slide') }}
        {% endautoescape %}
    </div>

    <h1>Fête médiévale, Lusignan (Vienne), 21 juillet 2012</h1>
    <div class="cycle-slideshow" data-cycle-slides="> a"  data-cycle-center-horz=true data-cycle-center-vert=true>
        {% autoescape false %}
        {{ asset('bundles/khatovarweb/photos/references/lusignan/photo1.jpg')|popup_picture('slide') }}
        {{ asset('bundles/khatovarweb/photos/references/lusignan/photo2.jpg')|popup_picture('slide') }}
        {{ asset('bundles/khatovarweb/photos/references/lusignan/photo3.jpg')|popup_picture('slide') }}
        {{ asset('bundles/khatovarweb/photos/references/lusignan/photo4.jpg')|popup_picture('slide') }}
        {{ asset('bundles/khatovarweb/photos/references/lusignan/photo5.jpg')|popup_picture('slide') }}
        {% endautoescape %}
    </div>

    <h1>Fête médiévale, Baugé (Maine-et-Loire), 14 juillet 2012</h1>
    <div class="container">
        <div class="cycle-slideshow" data-cycle-slides="> a"  data-cycle-center-horz=true data-cycle-center-vert=true>
            {% autoescape false %}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2012/08/20/20120820163439-408586ce.jpg'|popup_picture('slide') }}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2012/08/20/20120820163904-03eeefe7.jpg'|popup_picture('slide') }}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2012/08/20/20120820164020-83264f9c.jpg'|popup_picture('slide') }}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2012/08/20/20120820164025-116713e0.jpg'|popup_picture('slide') }}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2012/08/20/20120820164041-4177e435.jpg'|popup_picture('slide') }}
            {% endautoescape %}
        </div>
    </div>

    <h1>Fête médiévale, Bourg le Roi (Sarthe), 24 juin 2012</h1>
    <div class="container">
        <div class="cycle-slideshow" data-cycle-slides="> a"  data-cycle-center-horz=true data-cycle-center-vert=true>
            {% autoescape false %}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2012/08/20/20120820162819-c410fd96.jpg'|popup_picture('slide') }}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2012/08/20/20120820162808-a35567b1.jpg'|popup_picture('slide') }}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2012/08/20/20120820162655-46a98316.jpg'|popup_picture('slide') }}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2012/08/20/20120820162748-724056d0.jpg'|popup_picture('slide') }}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2012/08/20/20120820162914-55bfa561.jpg'|popup_picture('slide') }}
            {% endautoescape %}
        </div>
    </div>

    <h1>Soirée médiévale, Souzay-Champigny (Maine-et-Loire), 2 juin 2012</h1>
    <div class="container">
        <div class="cycle-slideshow" data-cycle-slides="> a"  data-cycle-center-horz=true data-cycle-center-vert=true>
            {% autoescape false %}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2012/08/20/20120820162440-50c7e505.jpg'|popup_picture('slide') }}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2012/08/20/20120820162453-b72008a6.jpg'|popup_picture('slide') }}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2012/08/20/20120820162519-6f0a4851.jpg'|popup_picture('slide') }}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2012/08/20/20120820162529-52e34941.jpg'|popup_picture('slide') }}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2012/08/20/20120820162541-358701a9.jpg'|popup_picture('slide') }}
            {% endautoescape %}
        </div>
    </div>

    <h1>Fête médiévale, Brézé (Maine-et-Loire), 26 &amp; 27 mai 2012</h1>
    <div class="container">
        <div class="cycle-slideshow" data-cycle-slides="> a"  data-cycle-center-horz=true data-cycle-center-vert=true>
            {% autoescape false %}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2012/08/20/20120820161502-9bf4a315.jpg'|popup_picture('slide') }}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2012/08/20/20120820161744-e9f30871.jpg'|popup_picture('slide') }}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2012/08/20/20120820161526-09ebcc28.jpg'|popup_picture('slide') }}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2012/08/20/20120820161918-65ae2f70.jpg'|popup_picture('slide') }}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2012/08/20/20120820161818-4ce3f3eb.jpg'|popup_picture('slide') }}
            {% endautoescape %}
        </div>
    </div>

    <div class="container flex-container-always">
        <div class="navigation">
            <a href="{{ path('khatovar_web_references', {'year': 2011}) }}"><img src="{{ asset('bundles/khatovarweb/images/hache_gauche.png') }}" class="photolink" alt="" /><br />
                Année précédente</a>
        </div>
        <div class="navigation"></div>
        <div class="navigation">
            <a href="{{ path('khatovar_web_references', {'year': 2013}) }}"><img src="{{ asset('bundles/khatovarweb/images/hache_droite.png') }}" class="photolink" alt="" /><br />
                Année suivante</a>
        </div>
    </div>
{% endblock %}
