{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <h1>Heyrieux, (Isère), 23 novembre 2013</h1>
    <div class="container">
        <div class="cycle-slideshow" data-cycle-slides="> a"  data-cycle-center-horz=true data-cycle-center-vert=true>
            {% autoescape false %}
            {{ asset('bundles/khatovarweb/photos/logonoir.jpg')|popup_picture('slide') }}
            {% endautoescape %}
        </div>
    </div>

    <h1>Chateauneuf-sur-Sarthe, (Maine-et-Loire), 22 septembre 2013</h1>
    <div class="container">
        <div class="cycle-slideshow" data-cycle-slides="> a"  data-cycle-center-horz=true data-cycle-center-vert=true>
            {% autoescape false %}
            {{ asset('bundles/khatovarweb/photos/references/chateauneuf/photo1.jpg')|popup_picture('slide') }}
            {{ asset('bundles/khatovarweb/photos/references/chateauneuf/photo2.jpg')|popup_picture('slide') }}
            {{ asset('bundles/khatovarweb/photos/references/chateauneuf/photo3.jpg')|popup_picture('slide') }}
            {{ asset('bundles/khatovarweb/photos/references/chateauneuf/photo4.jpg')|popup_picture('slide') }}
            {{ asset('bundles/khatovarweb/photos/references/chateauneuf/photo5.jpg')|popup_picture('slide') }}
            {{ asset('bundles/khatovarweb/photos/references/chateauneuf/photo6.jpg')|popup_picture('slide') }}
            {{ asset('bundles/khatovarweb/photos/references/chateauneuf/photo7.jpg')|popup_picture('slide') }}
            {{ asset('bundles/khatovarweb/photos/references/chateauneuf/photo8.jpg')|popup_picture('slide') }}
            {{ asset('bundles/khatovarweb/photos/references/chateauneuf/photo9.jpg')|popup_picture('slide') }}
            {% endautoescape %}
        </div>
    </div>

    <h1>Lescar (Pyrénées-Atlantiques), 14 et 15 septembre 2013</h1>
    <div class="container">
        <div class="cycle-slideshow" data-cycle-slides="> a"  data-cycle-center-horz=true data-cycle-center-vert=true>
            {% autoescape false %}
            {{ asset('bundles/khatovarweb/photos/references/lescar/photo1.jpg')|popup_picture('slide') }}
            {{ asset('bundles/khatovarweb/photos/references/lescar/photo2.jpg')|popup_picture('slide') }}
            {{ asset('bundles/khatovarweb/photos/references/lescar/photo3.jpg')|popup_picture('slide') }}
            {{ asset('bundles/khatovarweb/photos/references/lescar/photo4.jpg')|popup_picture('slide') }}
            {{ asset('bundles/khatovarweb/photos/references/lescar/photo5.jpg')|popup_picture('slide') }}
            {{ asset('bundles/khatovarweb/photos/references/lescar/photo6.jpg')|popup_picture('slide') }}
            {{ asset('bundles/khatovarweb/photos/references/lescar/photo7.jpg')|popup_picture('slide') }}
            {{ asset('bundles/khatovarweb/photos/references/lescar/photo8.jpg')|popup_picture('slide') }}
            {% endautoescape %}
        </div>
    </div>

    <h1>Chinon (Indre-et-Loire), 3 et 4 août 2013</h1>
    <div class="container">
        <div class="cycle-slideshow" data-cycle-slides="> a"  data-cycle-center-horz=true data-cycle-center-vert=true>
            {% autoescape false %}
            {{ asset('bundles/khatovarweb/photos/logonoir.jpg')|popup_picture('slide') }}
            {% endautoescape %}
        </div>
    </div>

    <h1>La Daguenière (Maine-et-Loire), 29 et 30 juin 2013</h1>
    <div class="container">
        <div class="cycle-slideshow" data-cycle-slides="> a"  data-cycle-center-horz=true data-cycle-center-vert=true>
            {% autoescape false %}
            {{ asset('bundles/khatovarweb/photos/references/dagueniere/photo1.jpg')|popup_picture('slide') }}
            {{ asset('bundles/khatovarweb/photos/references/dagueniere/photo2.jpg')|popup_picture('slide') }}
            {{ asset('bundles/khatovarweb/photos/references/dagueniere/photo3.jpg')|popup_picture('slide') }}
            {{ asset('bundles/khatovarweb/photos/references/dagueniere/photo4.jpg')|popup_picture('slide') }}
            {{ asset('bundles/khatovarweb/photos/references/dagueniere/photo5.jpg')|popup_picture('slide') }}
            {{ asset('bundles/khatovarweb/photos/references/dagueniere/photo6.jpg')|popup_picture('slide') }}
            {% endautoescape %}
        </div>
    </div>

    <h1>Animation à l'école d'Acier, Angers (Maine-et-Loire),  21 et 22 juin 2013</h1>
    <div class="container">
        <div class="cycle-slideshow" data-cycle-slides="> a"  data-cycle-center-horz=true data-cycle-center-vert=true>
            {% autoescape false %}
            {{ asset('bundles/khatovarweb/photos/logonoir.jpg')|popup_picture('slide') }}
            {% endautoescape %}
        </div>
    </div>

    <h1>Gala des ingénieurs territoriaux, Angers (Maine-et-Loire),  21 mars 2013</h1>
    <div class="container">
        <div class="cycle-slideshow" data-cycle-slides="> a"  data-cycle-center-horz=true data-cycle-center-vert=true>
            {% autoescape false %}
            {{ asset('bundles/khatovarweb/photos/logonoir.jpg')|popup_picture('slide') }}
            {% endautoescape %}
        </div>
    </div>

    <div class="container flex-container-always">
        <div class="navigation">
            <a href="{{ path('khatovar_web_references', {'year': 2012}) }}"><img src="{{ asset('bundles/khatovarweb/images/hache_gauche.png') }}" class="photolink" alt="" /><br />
                Année précédente</a>
        </div>
        <div class="navigation"></div>
        <div class="navigation">
            <a href="{{ path('khatovar_web_references', {'year': 2014}) }}"><img src="{{ asset('bundles/khatovarweb/images/hache_droite.png') }}" class="photolink" alt="" /><br />
                Année suivante</a>
        </div>
    </div>
{% endblock %}
