{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <h1>Fête de la Sainte Catherine, Heyrieux (Isère), 26 novembre 2011</h1>
    <div class="container flex-container">
        <div class="photo_exactions">
            {% autoescape false %}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2012/01/24/20120124164552-f487ae21.jpg'|popup_picture('photo') }}
            {% endautoescape %}
        </div>
        <div class="exactions">
            <p>
                Pour la fête de la Sainte Catherine à Heyrieux, nous avions un objectif précis&nbsp;: faire revivre ses siècles passés au
                centre-ville, le temps d\'un week-end, au son du marteau sur l\'enclume. Installés au cœur du pôle «&nbsp;vieux métier&nbsp;», nous
                avons fait ce qu\'il fallait pour&nbsp;! Campement minimum pour cette fête, seule la forge a fait le voyage, avec son forgeron et ses
                deux assistants. Heyrieux, c\'est l'animation qui a fait trembler les chiffres&nbsp;: 1300&nbsp;km, 15&nbsp;h de voyage, 9&nbsp;h de
                forge, un sacré paquet de fumée et tout ça par 0&nbsp;°C. Le campement a été monté la veille après 7&nbsp;h de route, a la fraîche à
                la nuit tombée pour un réveil à l'aube. Mise en route des feux à 8&nbsp;h et toute la journée enclumes et marteaux ont tonné dans la
                fumée et la bonne humeur d\'une fête rondement organisée. Ce fut aussi le temps d\'une rencontre mémorable avec des forgerons de tous
                horizons.
            </p>
            <div class="note_exaction">
                <b>La photo&nbsp;:</b> nous avons testé notre nouveauté&nbsp;2012&nbsp;: faire forger une pointe de flèche à des enfants. Tout au long de la
                journée, la joie a été au rendez-vous quand les forgerons en herbe repartaient avec leur production.
            </div>
            <div class="photo_exactions">
                <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php?/category/48" rel="external"><img src="{{ asset('bundles/khatovarweb/images/camera.png') }}" class="photolink" alt="" />
                    <br />
                    Album photo</a>
            </div>
        </div>
    </div>

    <h1>Fête de la Saint-Mathieu, Gallardon, 17 et 18 septembre 2011</h1>
    <div class="container flex-container">
        <div class="photo_exactions">
            {% autoescape false %}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/09/19/20110919163328-2f54509c.jpg'|popup_picture('photo') }}
            {% endautoescape %}
        </div>
        <div class="exactions">
            <p>
                La dernière fête de l\'année s\'est rajoutée à notre programme à la dernière minute. Nous avons accepté ce déplacement avec plaisir et
                enthousiasme, et nous ne l\'avons pas regretté malgré une météo encore une fois pluvieuse.
            </p>
            <p>
                Nous avons découvert un site pittoresque, au pied de l\'église, avec un beau marché d\'artisanat. L\'accueil des bénévoles organisateurs a
                été particulièrement agréable, et nous avons sympathisé avec l\'autre troupe présente, les Scottish Maraudeurs.
            </p>
            <p>
                Exceptionnellement, nous avons donné quatre combats, deux par jour, plus le râtelier d\'armes. Cela nous a permis de tester différentes
                variantes de notre spectacle, une bonne manière de mesurer les progrès réalisés par chacun au cours de l\'année. Nous avons même commencé
                à travailler sur de nouvelles idées, à base de crachats de feu… Verdict la saison prochaine&nbsp;!
            </p>
            <div class="note_exaction">
                <b>La photo&nbsp;:</b> Krakote joue les malheureuses derrière les barreaux.
            </div>
            <div class="photo_exactions">
                <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php?/category/46" rel="external"><img src="{{ asset('bundles/khatovarweb/images/camera.png') }}" class="photolink" alt="" />
                    <br />
                    Album photo</a>
            </div>
        </div>
    </div>

    <h1>Château de la Grève, Saint Martin des Noyers, 14 août 2011</h1>
    <div class="container flex-container">
        <div class="photo_exactions">
            {% autoescape false %}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824112305-0e661e85.jpg'|popup_picture('photo') }}
            {% endautoescape %}
        </div>
        <div class="exactions">
            <p>
                Superbement installée, la compagnie a pleinement apprécié le cadre du château de la Grève. Nous avions la cour pour nous tous seuls, et
                nous nous sommes largement étalés avec nos quatre tentes et un grand espace cuisine (où l\'on a testé la recette la plus étrange de
                l\'année, une capilotade de pintade).
            </p>
            <p>
                Les ateliers tannage, cuir, maille et herboristerie étaient de sortie. Pour la première fois, et en protection contre la pluie, le
                râtelier était monté sous une tente viking (une installation du plus bel effet). Les visiteurs ont pu découvrir notre impressionnant
                stock d\'armes (une quinzaine de lames, quatre arcs, des haches et hachettes).
            </p>
            <p>
                En fin de journée, le combat a permis de confirmer les acquis de l\'année, en matière de jeu et de technique pure. Les
                «&nbsp;nouveaux&nbsp;» ont définitivement trouvé leur place dans le spectacle.
            </p>
            <div class="note_exaction">
                <b>La photo&nbsp;:</b> les anciens en profitent donc pour se la couler douce… ou presque.
            </div>
            <div class="photo_exactions">
                <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php?/category/3" rel="external"><img src="{{ asset('bundles/khatovarweb/images/camera.png') }}" class="photolink" alt="" />
                    <br />
                    Album photo</a>
            </div>
        </div>
    </div>

    <h1>Chavagnes les eaux, 07 août 2011</h1>
    <div class="container flex-container">
        <div class="photo_exactions">
            {% autoescape false %}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824132047-34189d8c.jpg'|popup_picture('photo') }}
            {% endautoescape %}
        </div>
        <div class="exactions">
            <p>
                Une nouvelle fête entièrement sous la pluie&nbsp;: les tentes imperméables ont définitivement prouvé leur utilité, spécialement la tente
                herboristerie qui peut accueillir deux tables et toute la troupe pour des festins inoubliables et bien arrosés.
            </p>
            <p>
                Le lendemain, grande forme générale pour ouvrir les ateliers herboristerie, forge, cuir, tannage et maille. Notre petit village médiéval
                a suscité la curiosité, on n\'oubliera pas de sitôt certains échanges avec nos visiteurs&nbsp;!
            </p>
            <p>
                La journée a surtout été marquée par un combat inoubliable&nbsp;: après un démarrage sous la pluie, nos combattants ont testé de nouveaux
                gags, salués par de francs éclats de rire et de chaleureux applaudissements. Une prestation un peu atypique qui nous a valu une tournée
                de bières gratuites&nbsp;!
            </p>
            <div class="note_exaction">
                <b>La photo&nbsp;:</b> depuis le temps qu\'on en rêvait, Goût-de-Fût l\'a fait&nbsp;: un cochon rôti à la broche&nbsp;!
            </div>
            <div class="photo_exactions">
                <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php?/category/7" rel="external"><img src="{{ asset('bundles/khatovarweb/images/camera.png') }}" class="photolink" alt="" />
                    <br />
                    Album photo</a>
            </div>
        </div>
    </div>

    <h1>Brain-sur-Allonnes, 17 juillet 2011</h1>
    <div class="container flex-container">
        <div class="photo_exactions">
            {% autoescape false %}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824113943-500c87af.jpg'|popup_picture('photo') }}
            {% endautoescape %}
        </div>
        <div class="exactions">
            <p>
                Séduite par le très beau site de Brain-sur-Allonnes, la Compagnie franche du Khatovar s'est octroyé non pas un, mais quatre jours sur
                place. Nos mercenaires ont apprécié cette minisemaine à dormir dans la paille et à vivre sous les tentes ou autour du feu de camp. Les
                cuisiniers se sont fait plaisir en concoctant une série de plats qui resteront dans les annales de la troupe ; on a aussi testé et
                approuvé plusieurs recettes d'hypocras.
            </p>
            <p>
                Le jour de la fête, toujours en forme et de bonne humeur malgré la pluie, la compagnie présentait cinq ateliers&nbsp;: cuir, tannage,
                maille, forge, herboristerie, ainsi qu\'un spectacle de combat. On a même pu parader avec les autres troupes présentes, en l\'honneur des
                50 ans de l\'association organisatrice.
            </p>
            <div class="note_exaction">
                <b>La photo&nbsp;:</b> sorcière contre barbare, c\'était une première et le résultat était pour le moins… surprenant.
            </div>
            <div class="photo_exactions">
                <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php?/category/4" rel="external"><img src="{{ asset('bundles/khatovarweb/images/camera.png') }}" class="photolink" alt="" />
                    <br />
                    Album photo</a>
            </div>
        </div>
    </div>

    <h1>Soirée Médiévale à Chinon, 13 juillet 2011</h1>
    <div class="container flex-container">
        <div class="photo_exactions">
            {% autoescape false %}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824132430-b226f525.jpg'|popup_picture('photo') }}
            {% endautoescape %}
        </div>
        <div class="exactions">
            <p>
                Nouvelle nocturne pour la Compagnie&nbsp;: après Souzay-Champigny, c\'est à Chinon que nous avons installé notre camp pour une soirée
                d\'animations en amont de la traditionnelle fête médiévale. Un rendez-vous que nous n\'aurions manqué pour rien au monde, puisque
                certains de nos mercenaires y ont vécu leurs premières émotions médiévales, avant même la fondation de la compagnie. En tout cas, le
                succès était au rendez-vous, à la fois pour nos ateliers d\'artisanat, littéralement pris d\'assaut, et pour nos sorcières, dont les
                herbes et préparations ont définitivement enchanté le public.
            </p>
            <p>
                Nos vaillants combattants n\'étaient évidemment pas en reste&nbsp;: ils se sont à nouveau illustrés par leurs (quelques) maladresses et
                la puissance (incontestable) de leurs passes d\'armes, pour le plus grand plaisir du public. Bref, une expérience qui restera dans nos
                annales, en attendant d\'y inscrire (nous l\'espérons) de nouveaux épisodes chinonais.
            </p>
            <div class="note_exaction">
                <b>La photo&nbsp;:</b> les poudres de notre druide enchantent toujours nos visiteurs, les plus jeunes commes les plus agés.
            </div>
            <div class="photo_exactions">
                <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php?/category/8" rel="external"><img src="{{ asset('bundles/khatovarweb/images/camera.png') }}" class="photolink" alt="" />
                    <br />
                    Album photo</a>
            </div>
        </div>
    </div>

    <h1>Château de Brézé, 4 et 5 juin 2011</h1>
    <div class="container flex-container">
        <div class="photo_exactions">
            {% autoescape false %}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824115423-efa0b726.jpg'|popup_picture('photo') }}
            {% endautoescape %}
        </div>
        <div class="exactions">
            <p>
                Arrivés dès le vendredi soir, la compagnie s\'est installée dans le parc du château pour deux jours de fête&nbsp;: l\'occasion de tester
                des recettes totalement inédites, comme l\'éclate de moules ou le saumon à la calimafrée, qui ont remporté un franc succès.
            </p>
            <p>
                Le temps quelque peu maussade et la pluie n\'ont donc pas réussi à gâcher la fête. Au passage, la Compagnie aura bien profité de sa nouvelle (et
                vaste) tente, reconvertie en cantine d\'un soir, pour cause d\'averse persistante.
            </p>
            <p>
                Côté animations, les combats et les ateliers ont rencontré un beau succès, en particulier «&nbsp;les poudres magiques&nbsp;» et le tissage. Nos
                prestations nous ont d\'ailleurs valu une nouvelle fois les honneurs de la presse.
            </p>
            <div class="note_exaction">
                <b>La photo&nbsp;:</b> avec son armure rutilante, le Capitaine n\'hésite à prendre des poses avantageuses.
            </div>
            <div class="photo_exactions">
                <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php?/category/5" rel="external"><img src="{{ asset('bundles/khatovarweb/images/camera.png') }}" class="photolink" alt="" />
                    <br />
                    Album photo</a>
            </div>
        </div>
    </div>

    <h1>Souzay-Champigny, 28 mai 2011</h1>
    <div class="container flex-container">
        <div class="photo_exactions">
            {% autoescape false %}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824110838-69d52333.jpg'|popup_picture('photo') }}
            {% endautoescape %}
        </div>
        <div class="exactions">
            <p>
                Pour une première, c\'était une première&nbsp;: première fête de la saison, et avec la compagnie au grand complet s\'il vous plaît&nbsp;!
                Première installation de notre nouvelle tente d\'herboristerie et de notre nouveau râtelier d\'armes, premiers combats pour deux
                recrues&nbsp;: la Volaille et Krakote (qui récolte au passage une adorable cicatrice… plus de peur que de mal).
            </p>
            <p>
                Tous les ateliers étaient représentés, et nous avons testé avec succès les différentes améliorations apportées par rapport à la dernière
                saison. Nous avons également apprécié de retrouver la cuisine au feu de bois (porc aux pommes et à la coriandre). Tout s\'est très bien
                passé et sous le soleil, chose assez rare cette année pour être souligné.
            </p>
            <div class="note_exaction">
                <b>La photo&nbsp;:</b> Krakote, enragée pour son premier combat.
            </div>
            <div class="photo_exactions">
                <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php?/category/2" rel="external"><img src="{{ asset('bundles/khatovarweb/images/camera.png') }}" class="photolink" alt="" />
                    <br />
                    Album photo</a>
            </div>
            <p>
                <a href="http://www.compagniefranchedukhatovar.fr/Documents/archives/Presse-Souzay-CO-20-mai-2011.jpg" rel="external" title="">Article de presse dans le courrier de l'ouest du 20 mai 2011</a>
            </p>
        </div>
    </div>

    <h1>Château du Plessis-Bourré, mars – mai 2011</h1>
    <div class="container flex-container">
        <div class="photo_exactions">
            {% autoescape false %}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2012/02/24/20120224151413-952139b3.jpg'|popup_picture('photo') }}
            {% endautoescape %}
        </div>
        <div class="exactions">
            <p>
                Avec deux séances consacrées au tissage et deux autres à la cotte de mailles, la compagnie a inauguré une forme inédite d\'animations
                au château du Plessis-Bourré. L\'objectif était de proposer une session théorique d\'une heure (avec une mise en contexte historique et
                des explications techniques), suivi d\'un atelier de mise en pratique, pour des groupes de cinq à dix personnes. Au final, les groupes
                se sont avérés plus restreints, ce qui n\'a évidemment pas empêché les deux animateurs d\'assurer la prestation à chaque fois.
            </p>
            <p>
                Le contact et les retours sur cette expérience ont été plutôt positifs&nbsp;: le petit nombre de personnes présentes a notamment
                permis une transmission individualisée de nos connaissances et un apprentissage plus complet des techniques. La compagnie n\'exclut
                d\'ailleurs pas de renouveler ce type d\'animations, au château du Plessis-Bourré ou ailleurs.
            </p>
            <div class="note_exaction">
                <b>La photo&nbsp;:</b> Le Plessis-Bourré, un château dont tout mercenaire ferait bien son campement d'hiver.
            </div>
            <div class="photo_exactions">
                <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php?/category/52" rel="external"><img src="{{ asset('bundles/khatovarweb/images/camera.png') }}" class="photolink" alt="" />
                    <br />
                    Album photo</a>
            </div>
            <p>
                <a href="http://www.plessis-bourre.com/" rel="external" title="">http://www.plessis-bourre.com/</a>
            </p>
        </div>
    </div>

    <div class="container flex-container-always">
        <div class="navigation">
            <a href="{{ path('khatovar_web_references', {'year': 2010}) }}"><img src="{{ asset('bundles/khatovarweb/images/hache_gauche.png') }}" class="photolink" alt="" /><br />
                Année précédente</a>
        </div>
        <div class="navigation"></div>
        <div class="navigation">
            <a href="{{ path('khatovar_web_references', {'year': 2012}) }}"><img src="{{ asset('bundles/khatovarweb/images/hache_droite.png') }}" class="photolink" alt="" /><br />
                Année suivante</a>
        </div>
    </div>
{% endblock %}
