{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <h1>Fête des vendanges, Saumur, les 25 et 26 septembre 2010</h1>
    <div class="container flex-container">
        <div class="photo_exactions">
            {% autoescape false %}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831133217-8de97e43.jpg'|popup_picture('photo') }}
            {% endautoescape %}
        </div>
        <div class="exactions">
            <p>
                Malgré un froid cinglant, la Compagnie a beaucoup apprécié cette dernière fête de la saison, et sur deux jours, s\'il vous plaît. Arrivés dès le vendredi soir, nous avons pu nous installer tranquillement.
            </p>
            <p>
                Les animations du week-end, entre vendanges et fête médiévale, se sont très bien passées. Les ateliers et les combats ont remporté leur succès habituel, et nous ont valu de faire la Une de la presse locale (lien vers future section).
            </p>
            <p>
                Côté cuisine, on continue de tester toutes sortes de recettes (poulet sauté au cumin et à la coriandre, bœuf à la bière, soupe à l\'oignon…), sans oublier les désormais incontournables gâteaux aux amandes de Blanche, pour le plaisir de tous.
            </p>
            <div class="note_exaction">
                <b>La photo&nbsp;:</b> en Une du Courrier de l\'Ouest, le barbare se la pète comme jamais.
            </div>
            <div class="photo_exactions">

                <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php?/category/41" rel="external"><img src="{{ asset('bundles/khatovarweb/images/camera.png') }}" class="photolink" alt="" />
                    <br />
                    Album photo</a>
            </div>
        </div>
    </div>

    <h1>Fête de la St Louis, Gée, le 22 août 2010</h1>
    <div class="container flex-container">
        <div class="photo_exactions">
            {% autoescape false %}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831131514-819b02da.jpg'|popup_picture('photo') }}
            {% endautoescape %}
        </div>
        <div class="exactions">
            <p>
                Installée à Gée au grand complet, la compagnie a profité comme il se doit d\'un cadre agréable et ombragé, à la plus grande joie du forgeron qui a pu jouer du marteau même aux heures les plus chaudes de la journée.
            </p>
            <p>
                Après une belle soirée au coin du feu et une nuit plus ou moins reposante (tours de garde obligent), la fête s\'est très bien déroulée.
            </p>
            <p>
                Les ateliers ont confirmé leur succès. Le festin du midi (une frigousse bourguignotte) a régalé les plus difficiles. Et les trois semaines d\'entraînements intensifs ont payé&nbsp;: le combat était très réussi.
            </p>
            <div class="note_exaction">
                <b>La photo&nbsp;:</b> Ah ces hommes&nbsp;! Toujours une bonne excuse pour échapper aux corvées de rigueur. Ben oui, même s\'il se fait souvent tirer l\'oreille, le capitaine aussi doit faire la vaisselle.
            </div>
            <div class="photo_exactions">
                <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php?/category/39" rel="external"><img src="{{ asset('bundles/khatovarweb/images/camera.png') }}" class="photolink" alt="" />
                    <br />
                    Album photo</a>
            </div>
        </div>
    </div>

    <h1>Fête communale, Daon, le 1er août 2010</h1>
    <div class="container flex-container">
        <div class="photo_exactions">
            {% autoescape false %}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831123133-49969c3d.jpg'|popup_picture('photo') }}
            {% endautoescape %}
        </div>
        <div class="exactions">
            <p>
                Baptême du feu, ou plutôt du soleil, pour la compagnie&nbsp;: la chaleur a transformé la fête en challenge, et manqué de «&nbsp;cuire&nbsp;» nos valeureux guerriers (à moins qu\'ils n\'aient abusé du festin à midi, un délicieux lapin au cidre).
            </p>
            <p>
                Les deux combats, très rudes, se sont soldés par quelques blessures légères. Nos deux recrues toutes fraîches, La Volaille et Luciole, sont donc tombées à point pour apporter du sang neuf.
            </p>
            <p>
                Dès la fin de matinée, les visiteurs ont testé les jeux de cuisine et d\'herboristerie. Et dans l\'après-midi, notre artisan du cuir a proposé sa première démonstration de tannage. Toutes ces nouveautés ont remporté leur petit succès.
            </p>
            <div class="note_exaction">
                <b>La photo&nbsp;:</b> la démonstration de tannage, l\'odeur en moins&nbsp;!
            </div>
            <div class="photo_exactions">
                <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php?/category/38" rel="external"><img src="{{ asset('bundles/khatovarweb/images/camera.png') }}" class="photolink" alt="" />
                    <br />
                    Album photo</a>
            </div>
        </div>
    </div>

    <h1>La baillée des filles, Ponts de Cé, le 13 mai 2010</h1>
    <div class="container flex-container">
        <div class="photo_exactions">
            {% autoescape false %}
            {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831132335-b12118e1.jpg'|popup_picture('photo') }}
            {% endautoescape %}
        </div>
        <div class="exactions">
            <p>
                Première fête de la saison qui a apporté son lot de nouveautés. Nous avons souhaité la bienvenue à nos nouvelles recrues Suzanne, Aurélien et Nicolas. Le moine a enfin abandonné sa robe de bure pour son nouveau costume (immaculé) de Chaman. Nous avons accueilli <a href="http://compagnie-dragdis.e-monsite.com/" rel="external">la compagnie DRAG DIS</a>, venue en renfort, afin de tenir un atelier d\'herboristerie.
            </p>
            <p>
                Le Courrier de l\'Ouest a photographié l\'un de nos chevaliers et notre forgeron dans
                <a href="{{ asset('bundles/khatovarweb/photos/articles/2010/article_bailledesfilles_co_20100510-2.jpg') }}">son article</a>.
                <a href="{{ asset('bundles/khatovarweb/photos/articles/2010/article_bailledesfilles_co_20100510-3.jpg') }}">Dans une autre page</a> nous voyons nos combattants en pleine action et notre atelier de mailles.
            </p>
            <div class="note_exaction">
                <b>La photo&nbsp;:</b> préparatifs de dernière minute&nbsp;: encore une fois il faut réparer ce fichu bouclier, malencontreusement brisé lors du précédent combat&nbsp;!
            </div>
            <div class="photo_exactions">
                <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php?/category/40" rel="external"><img src="{{ asset('bundles/khatovarweb/images/camera.png') }}" class="photolink" alt="" />
                    <br />
                    Album photo</a>
            </div>
        </div>
    </div>

    <div class="container flex-container-always">
        <div class="navigation">
            <a href="{{ path('khatovar_web_references', {'year': 2009}) }}"><img src="{{ asset('bundles/khatovarweb/images/hache_gauche.png') }}" class="photolink" alt="" /><br />
                Année précédente</a>
        </div>
        <div class="navigation"></div>
        <div class="navigation">
            <a href="{{ path('khatovar_web_references', {'year': 2011}) }}"><img src="{{ asset('bundles/khatovarweb/images/hache_droite.png') }}" class="photolink" alt="" /><br />
                Année suivante</a>
        </div>
    </div>
{% endblock %}
