{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <h1>Liste des photos</h1>

    {% for title, photo_lists in sorted_photos %}
        {% set container = 'container' %}
        {% if title == 'Photos orphelines' %}
            {% set container = 'container orphan' %}
        {% endif %}

        <h2>{{ title }}</h2>
        <div class="{{ container }}">
            {% for entity_name, photos in photo_lists %}

                {% if title != 'Photos orphelines' %}
                    <h3>{{ entity_name }}</h3>
                {% endif %}

                {% for photo in photos %}
                    {% if photo is not empty %}
                        {% set delete_form = delete_forms[photo.id] %}

                        <div class="trombi photo_admin">
                            {{ photo.getWebPath()|thumbnail('landscape', photo.alt) }}
                            <br />
                            <a class="btn btn-sm btn-default" href="{{ path('khatovar_web_photo_edit', {'id': photo.id}) }}">
                                Éditer
                            </a>
                            {{ form(delete_form, { 'attr': {'class': 'button-inline'}}) }}
                        </div>

                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
