{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% form_theme edit_form 'KhatovarWebBundle:form:fields.html.twig' %}

{% block inarticle %}
    <a href="{{ path('khatovar_web_contact_list') }}">Retour à la liste des pages de contact</a>
    <hr />

    <h1>Édition de la carte de visite</h1>

    {{ form_start(edit_form) }}
    <div class="alert">
        {{ form_errors(edit_form) }}
    </div>

    {{ form_row(edit_form.name) }}
    {{ form_row(edit_form.content) }}
    {{ form_row(edit_form.visitCard) }}

    <div class="form-group">
        {{ form_widget(edit_form.submit, { 'attr': {'class': 'btn btn-default'} }) }}
    </div>

    {{ form_rest(edit_form) }}
    {{ form_end(edit_form) }}
{% endblock %}
