{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <style>
        article ul {
            list-style: none;
        }
    </style>

    <h1>Contact list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td><a href="{{ path('contact_show', { 'id': contact.id }) }}">{{ contact.id }}</a></td>
                <td>{{ contact.title }}</td>
                <td>{{ contact.content }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('contact_show', { 'id': contact.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('contact_edit', { 'id': contact.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contact_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
