{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <style>
        .table-responsive {
            width: 100%;
            margin: 15px;
            overflow-x: auto;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }
        .column-center {
            text-align: center;
        }
        td, th {
            padding: 5px 0 5px 0;
        }
    </style>

    <h1>Contact list</h1>

    <p>
        <a href="{{ path('khatovar_web_contact_new') }}">Créer une nouvelle page de contact</a>
    </p>

    {{ form_start(activation_form) }}
    <div class="form-group">
        {{ form_label(activation_form.active) }}
        {{ form_widget(activation_form.active, { 'attr': {'class': 'form-element'} }) }}
    </div>

    <div class="form-group">
        {{ form_widget(activation_form.submit) }}
    </div>

    {{ form_rest(activation_form) }}
    {{ form_end(activation_form) }}

    <p>
        Liste des pages de contact disponibles :
    </p>
    <table class="table-responsive">
        <thead>
        <tr>
            <th class="column-center">
                Identifiant
            </th>
            <th>
                Titre
            </th>
            <th class="column-center">
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            {% set delete_form = delete_forms[contact.id] %}

            <tr>
                <td class="column-center">
                    <a href="{{ path('khatovar_web_contact_show', { 'id': contact.id }) }}">{{ contact.id }}</a>
                </td>
                <td>
                    {{ contact.title }}
                </td>
                <td class="column-center">
                    <a href="{{ path('khatovar_web_contact_show', { 'id': contact.id }) }}">Visualiser</a>
                    |
                    <a href="{{ path('khatovar_web_contact_edit', { 'id': contact.id }) }}">Éditer</a>

                    {{ form(delete_form) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
