{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            <div class="has-tip"
                 data-tooltip
                 aria-haspopup="true"
                 title="{{ tip is defined ? tip|trans : 'tips.generic'|trans }}">
                <i class="fa fa-question-circle"></i>
            </div>
            <div class="form-textarea">
                {{ form_label(form) }}
                {{ form_errors(form) }}
                {{ form_widget(form, { 'attr': {'class': 'form-element'} }) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block text_widget %}
    {% spaceless %}
        {{ form_widget(form, { 'attr': {'class': 'form-element form-text'} }) }}
    {% endspaceless %}
{% endblock %}
