{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% form_theme form 'KhatovarWebBundle:form:fields.html.twig' %}

{% block inarticle %}
    <a href="{{ path('khatovar_web_contact_list') }}">Retour à la liste des pages de contact</a>
    <hr />

    <h1>Création d'une nouvelle carte de visite</h1>

    {{ form_start(form) }}
    <div class="alert">
        {{ form_errors(form) }}
    </div>

    {{ form_row(form.name, { tip: 'khatovar_contact.tips.name'|trans }) }}
    {{ form_row(form.content, { tip: 'khatovar_contact.tips.content'|trans }) }}

    <div class="form-group">
        {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-default'} }) }}
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock %}
