{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    {% if is_granted('ROLE_EDITOR') %}
        <a href="{{ path('khatovar_web_exaction_add') }}">Ajouter une nouvelle exaction</a>
        <hr />
    {% endif %}

    {% for exaction in exactions %}
        <h1>
            {{ exaction.name }}, {{ exaction.place }}, {{ exaction.start|normalize_date(exaction.end) }}
        </h1>
        {% if is_granted('ROLE_EDITOR') %}
            <a href="{{ path('khatovar_web_exaction_edit', {'exaction': exaction.id}) }}">Éditer</a>
            |
            <a href="{{ path('khatovar_web_exaction_remove', {'exaction': exaction.id}) }}">Supprimer</a>
        {% endif %}

        {% if exaction.onlyPhotos %}
            <div class="container">
                <div class="cycle-slideshow" data-cycle-slides="> a"  data-cycle-center-horz=true data-cycle-center-vert=true>
                    {% autoescape false %}
                        {% for photo in exaction.photos %}
                            {{ asset(photo)|popup_picture('slide') }}
                        {% endfor %}
                    {% endautoescape %}
                </div>
            </div>
        {% else %}
            <div class="container flex-container">
                <div class="photo_exactions">
                    {% autoescape false %}
                    {{ exaction.image|popup_picture('photo') }}
                    {% endautoescape %}
                </div>
                <div class="exactions">
                    {{ exaction.abstract|add_paragraph_and_photos() }}
                    <div class="note_exaction">
                        <b>La photo&nbsp;:</b> {{ exaction.imageStory }}
                    </div>
                    <div class="photo_exactions">
                        {# TODO: Javascript album photo #}
                        Album photo
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
