{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <p>
        <a href="{{ path('khatovar_web_homepage_create') }}">
            Créer une nouvelle page d\'accueil
        </a>
    </p>
    <p>
        Veuillez sélectionner la page d\'accueil à utiliser :
    </p>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.active) }}
        {{ form_widget(form.active, { 'attr': {'class': 'form-element'} }) }}
    </div>

    {{ form_rest(form) }}

    <div class="form-group">
        {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-default'} }) }}
    </div>
    {{ form_end(form) }}

    <p>
        Liste des pages d\'accueil disponibles :
    </p>
    {% for homepage in homepage_list %}
        <ul>
            <li>
                {{ homepage.name }}
                —
                <a href="{{ path('khatovar_web_homepage_edit', { 'homepage': homepage.id }) }}">
                    Éditer
                </a>
                |
                <a href="{{ path('khatovar_web_homepage_delete', { 'homepage': homepage.id }) }}">
                    Supprimer
                </a>
            </li>
        </ul>
    {% endfor %}
{% endblock %}
