{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    {% if is_granted('ROLE_EDITOR') or member.owner == current_user %}
        <a href="{{ path('khatovar_web_member_edit', {'id': member.id}) }}">Éditer la page</a>
        <hr />
    {% endif %}

    <h1>{{ member.name }}</h1>

    <div style="text-align:right">
        <a href="{{ path('khatovar_web_member') }}">Retour</a>
    </div>

    <div class="container">
        <div class="photo_exactions">
            {{ member.portrait ? member.portrait.getWebPath()|popup_picture('member-portrait photo') : 'Pas encore de photo' }}
        </div>
        <div class="exactions">
            <ul>
                <li>
                    <b>Rang dans la compagnie&nbsp;:</b> {{ member.rank }}
                </li>
                <li>
                    <b>Citation favorite&nbsp;:</b> «&nbsp;{{ member.quote }}&nbsp;»
                </li>
                <li>
                    <b>Compétences&nbsp;:</b> {{ member.skill }}
                </li>
            </ul>

            <h3>État civil</h3>

            <ul>
                <li>
                    <b>Âge&nbsp;:</b> {{ member.age }}
                </li>
                <li>
                    <b>Taille&nbsp;:</b> {{ member.size }}
                </li>
                <li>
                    <b>Poids&nbsp;:</b> {{ member.weight }}
                </li>
                <li>
                    <b>Point fort&nbsp;:</b> {{ member.strength }}
                </li>
                <li>
                    <b>Point faible&nbsp;:</b> {{ member.weakness }}
                </li>
            </ul>
            <div class="container">
                {{ asset('bundles/khatovarweb/images/camera.png')|link_album('album-photo', photos, member.portrait) }}
            </div>
        </div>
    </div>

    <h2>Son histoire</h2>

    {{ member.story|add_paragraph_and_photos(photos) }}

    <div style="text-align:right">
        <a href="{{ path('khatovar_web_member') }}">Retour</a>
    </div>
{% endblock %}
