{% extends "CarcelDocumentsBundle::layout.html.twig" %}

{% block insection %}

    <a href="{{ path('carcel_documents_homepage', {'folder': previous}) }}"
       class="btn btn-default pull-right">
        Retour
    </a>

    <h2>Ajouter un fichier</h2>

    <p>
        Attention, si vous ajoutez un fichier portant le même nom qu’un fichier déjà présent, ce dernier sera écrasé.
    </p>

    <div class="well">
    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_row(form.filePath) }}
        </div>

        {{ form_row(form.submit, { 'attr': {'class': 'btn btn-default'} }) }}
    {{ form_end(form) }}
    </div>
{% endblock %}
