{% extends "CarcelDocumentsBundle::layout.html.twig" %}

{% block insection %}

    <a href="{{ path('carcel_documents_homepage', {'folder': previous}) }}"
       class="btn btn-default pull-right">
        Retour
    </a>

    <h2>Déplacer un dossier</h2>

    <div class="col-lg-3 col-md-4 col-sm-5">
        <div class="form-group">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.parent, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="form-group">
            {{ form_row(form.submit, { 'attr': {'class': 'btn btn-default'} }) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
