{% extends "::layout.html.twig" %}

{% block title %}Documents{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/carceldocuments/css/bootstrap.css'
                   'bundles/carceldocuments/css/bootstrap-theme.css'
                   'bundles/carceldocuments/css/documents.css'
                   filter='cssrewrite' output='css/documents.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    {% javascripts 'bundles/carceldocuments/js/bootstrap.min.js' output='js/bootstrap.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block container %}container-fluid{% endblock %}

{% block header %}
    <header class="page-header">
        <a href="{{ path('carcel_documents_homepage') }}">
            <img id="logo" src="{{ asset('bundles/carceldocuments/images/documents.png') }}" alt="Logo">
            <h1>Documents</h1>
        </a>
    </header>
{% endblock %}

{% block insection %}
    {% for message in app.session.flashbag.get('notice') %}
        <div class="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}

{% block footer %}
    <footer class="panel-footer text-center">
        <div class="col-lg-12">
            {{ 'now'|date('d/m/Y - H:i') }}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                |
                {{ 'layout.logged_in_as'|trans({'%username%': ''}, 'FOSUserBundle') }}<a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a>
                |
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('carcel_user_admin') }}">Page d’adminitration</a>
                    |
                {% endif %}
                <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
    </footer>
{% endblock %}
