{% extends "CarcelUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <a href="{{ path('carcel_documents_homepage') }}"
       class="btn btn-default pull-right">
        Retour
    </a>

    <h2>Adminitration des utilisateurs</h2>

    <article class="col-md-12 table-responsive">
        <table title="Liste des utilisateurs" class="table">
            <thead>
            <tr>
                <th class="col-lg-1">Nom</th>
                <th class="col-lg-3">Rôle</th>
                <th class="col-lg-8">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for user in users %}
                    <td class="col-lg-1">
                        <a href="{{ path('carcel_user_admin_show', {'user': user.id}) }}">{{ user.username }}</a>
                    </td>
                    <td class="col-lg-3">
                        <a href="{{ path('carcel_user_admin_set_role', {'user': user.id}) }}">{{ user.roles.0 }}</a>
                    </td>
                    <td class="col-lg-8">
                        <a href="{{ path('carcel_user_admin_edit', {'user': user.id}) }}">Éditer le profil</a>
                        |
                        <a href="{{ path('carcel_user_admin_remove', {'user': user.id}) }}">Supprimer l’utilisateur</a>
                    </td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </article>
{% endblock fos_user_content %}
