{% extends "CarcelUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <a href="{{ path('carcel_user_admin') }}"
       class="btn btn-default pull-right">
        Retour
    </a>

    <h1>Profil de l’utilisateur {{ user.username }}</h1>

    <div class="fos_user_user_show well">
        <p>
            {{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}
        </p>

        <p>
            {{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}
        </p>
    </div>

{% endblock fos_user_content %}
