{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    {% if is_granted('ROLE_EDITOR') %}
        <a href="{{ path('khatovar_web_members_add') }}">Ajouter un nouveau membre</a>
        <hr />
    {% endif %}

    <div class="container">
        <p>
            <b>Voici les membres de notre compagnie&nbsp;:</b>
        </p>

        {% for member in activeMembers %}
            <div class="trombi">
                <div class="thumbnail_link portrait photo_rest"
                     onmouseover="this.className='thumbnail_link portrait photo_over';"
                     onmouseout="this.className='thumbnail_link portrait photo_rest';"
                     onclick="location.href='{{ path('khatovar_web_members_view', {'slug': member.slug}) }}';">
                    <img src="{{ member.portrait ? member.portrait.getWebPath() : '' }}" class="trombinoscope" alt="{{ member.name }}" /><br />
                    {{ member.name }}
                </div>
                {% if is_granted('ROLE_EDITOR') %}
                    <a href="{{ path('khatovar_web_members_edit', {'member': member.id}) }}">Éditer</a>
                    |
                    <a href="{{ path('khatovar_web_members_remove', {'member': member.id}) }}">Supprimer</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="container">
        <p style="text-align: center">
            <b>Veni, Vidi… mais pas Vici : les anciens</b>
        </p>

        {% for member in pastMembers %}
            <div class="trombi">
                <div class="thumbnail_link portrait photo_rest"
                     onmouseover="this.className='thumbnail_link portrait photo_over';"
                     onmouseout="this.className='thumbnail_link portrait photo_rest';"
                     onclick="location.href='{{ path('khatovar_web_members_view', {'slug': member.slug}) }}';">
                    <img src="{{ member.portrait ? member.portrait.getWebPath() : '' }}" class="trombinoscope" alt="{{ member.name }}" /><br />
                    {{ member.name }}
                </div>
                {% if is_granted('ROLE_EDITOR') %}
                    <a href="{{ path('khatovar_web_members_edit', {'member': member.id}) }}">Éditer</a>
                    |
                    <a href="{{ path('khatovar_web_members_remove', {'member': member.id}) }}">Supprimer</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
