{{ form_start(form) }}
<div class="alert">
    {{ form_errors(form) }}
</div>

{{ form_row(form.name) }}
{{ form_row(form.content) }}
{{ form_row(form.active) }}

<div class="form-group">
    {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-default'} }) }}
</div>

{{ form_rest(form) }}
{{ form_end(form) }}
