{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    {% if is_granted('ROLE_EDITOR') %}
        <a href="{{ path('khatovar_web_appearance_edit', { 'id': appearance.id }) }}">Éditer cette prestation</a>
        |
        <a href="{{ path('khatovar_web_appearance_new') }}">Créer une nouvelle prestation</a>
        |
        <a href="{{ path('khatovar_web_appearance') }}">Liste des prestations disponibles</a>
        <hr />
    {% endif %}

    <h1>{{ appearance.name }}</h1>

    {{ appearance.content|add_paragraph_and_photos(appearance.photos) }}

    <div class="container flex-container-always">
        <div class="navigation nav-left">
            {% if previous_appearance %}
                <a href="{{ path('khatovar_web_appearance_show', { 'slug': previous_appearance.slug }) }}">{{ previous_appearance.name }}</a>
            {% endif %}
        </div>
        <div class="navigation nav-center">
            {{ asset('bundles/khatovarweb/images/camera.png')|link_album('album-photo', appearance.photos) }}
        </div>
        <div class="navigation nav-right">
            {% if next_appearance %}
                <a href="{{ path('khatovar_web_appearance_show', { 'slug': next_appearance.slug }) }}">{{ next_appearance.name }}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
