{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <h1>La calligraphie</h1>

    {% autoescape false %}
    {{ asset('bundles/khatovarweb/photos/calligraphie/calligraphie-1.jpg')|popup_picture('float floatleft') }}
    {% endautoescape %}
    {% autoescape false %}
    {{ asset('bundles/khatovarweb/photos/calligraphie/calligraphie-2.jpg')|popup_picture('float floatright') }}
    {% endautoescape %}
    <p>
        Une tente viking vous accueille, ornée de quelques exemples d’écritures et
        d’enluminures, de différents supports d’écriture (papiers, papyrus,
        parchemin...), décorée de plantes et de bocaux contenant les produits
        nécessaires à la confection des encres.
    </p>
    <p>
        Nous vous expliquerons comment étaient fabriquées les encres (noire ou
        couleur) et vous présenterons les différents types supports (papyrus,
        parchemin, papiers), outils (calame, plume…) et écritures (onciale,
        romaine…).
    </p>
    <p>
        Les plus jeunes (et les moins jeunes) pourront s’initier à l’usage du
        calame (pour gaucher et pour droitier) en écrivant, par exemple, leur
        prénom avec l’outil et l’encre de leur choix.
    </p>

    <div class="container flex-container-always">
        <div class="navigation nav-left">
            <a href="{{ path('khatovar_web_camp', {'atelier': 'tissage'}) }}"><img src="{{ asset('bundles/khatovarweb/images/hache_gauche.png') }}" class="photolink" alt="" /><br />
                Le tissage</a>
        </div>
        <div class="navigation nav-center">
            <!--
            <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php?/category/15" rel="external"><img src="{{ asset('bundles/khatovarweb/images/camera.png') }}" class="photolink" alt="" /><br />
                Album photo</a>
                -->
        </div>
        <div class="navigation nav-right">

        </div>
    </div>
{% endblock %}
