{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <h1>L’atelier Armes et Armures</h1>

    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824110040-a5139114.jpg'|popup_picture('floatleft') }}
    {% endautoescape %}
    <p>
        Épées à une et deux mains, haches de combat, arcs, masses d’armes et fléaux, les visiteurs pourront admirer nos
        armes et se confronter aux équipements de l’époque.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831124841-8b92605b.jpg'|popup_picture('floatright') }}
    {% endautoescape %}
    <p>
        Notre mannequin en bois, affectueusement surnommé Manfred, permet d’exposer
        les armures tandis que notre râtelier supporte notre arsenal militaire bien varié ! Deux animateurs expliqueront
        tout au long de la journée les usages et les subtilités de ce doux et paisible équipement qui a fait le raffinement
        des champs de bataille.
    </p>
    <p>
        En bonus, mais seulement si la sécurité du site s’y prête, Manfred servira à éprouver la solidité des armures
        (cottes de mailles, armures de plates et de cuir) face à nos armes, affûtées pour l’occasion. Elles seront
        utilisées, à vitesse et force de combat réel, sur ce pauvre mannequin afin de montrer à tous leur efficacité face
        aux protections. Armes nobles, armes simples, armes de jet, et armes à projectiles seront essayées sur notre gentil
        mannequin de bois.
    </p>


    <div class="container flex-container-always">
        <div class="navigation" style="text-align: left">
            <a href="{{ path('khatovar_web_camp', {'atelier': 'maille'}) }}"><img src="{{ asset('bundles/khatovarweb/images/hache_gauche.png') }}" class="photolink" alt="" /><br />
                L'atelier maille</a>
        </div>
        <div class="navigation">
            <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php?/category/13" rel="external"><img src="{{ asset('bundles/khatovarweb/images/camera.png') }}" class="photolink" alt="" /><br />
                Album photo</a>
        </div>
        <div class="navigation" style="text-align: right">
            <a href="{{ path('khatovar_web_camp', {'atelier': 'herbo'}) }}"><img src="{{ asset('bundles/khatovarweb/images/hache_droite.png') }}" class="photolink" alt="" /><br />
                L’herboristerie et la cuisine</a>
        </div>
    </div>
{% endblock %}
