{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <h2>Échauffement</h2>

    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831133028-00fccdad.jpg'|popup_picture('floatright') }}
    {% endautoescape %}
    <p>
        Les armes médiévales ne sont pas aussi lourdes qu’on le croit généralement (entre 1&nbsp;kg et 1,5&nbsp;kg pour une épée)
        mais leur amplitude et l’inertie dégagée lors des frappes demandent une bonne condition musculaire et articulaire pour les
        utiliser de manière optimum. Les avants-bras et les poignets sont les zones les plus fortement sollicitées lors des débuts
        de formations. La plupart des gens du XXIe siècle ne sont pas habitués à ce genre d’exercice.
    </p>
    {% autoescape false %}
    {{ asset('bundles/khatovarweb/photos/combat/echauffement.jpg')|popup_picture('floatleft') }}
    {% endautoescape %}
    <p>
        Basées sur les connaissances en préparation physique et sur la pratique de la musculation, toutes nos séances d’entraînement
        commencent par un long échauffement. Chaque session dure entre 1&nbsp;h&nbsp;30 et deux heures, le soir ou le matin. Le corps
        doit donc être «&nbsp;réveillé&nbsp;» avant d’être soumis au port de l’armure, aux positions de combat, au maniement des armes.
        Chaque articulation se voit progressivement sollicitée lors d’un échauffement pensé pour les sports de combats et arts martiaux.
        Le cœur monte petit à petit en pression, on peut alors commencer les exercices plus spécifiques.
    </p>
    <p>
        Mouvements asynchrones, renforcement, résistance musculaire, travail de force… Tout est conditionné de manière à réveiller à
        100&nbsp;% les capacités articulaires et musculaires de chacun, sans jamais dépasser la limite. Dans une logique de spectacle
        et non de performance sportive, il faut veiller à ne pas «&nbsp;détruire&nbsp;» les praticiens.
    </p>
    <p>
        Après l’échauffement, un moment est aussi consacré aux assouplissements et à la respiration récupératrice.
    </p>
    <p>
        Lors des semaines précédant les manifestations, une attention toute particulière est portée à l’endurance des combattants.
        Endurance, fond et fraction : ce travail est dur et éprouvant ! Tiré des techniques d’entraînement du haut niveau, en alternant
        ces méthodes dites actives, on améliore l’endurance permettant ainsi à l’organisme de tenir le rythme avec l’armure sur le dos
        sous 35&nbsp;°C pendant les 20 minutes et à une demi-heure que durent les représentations.
    </p>

    <div class="container flex-container-always">
        <div class="navigation" style="text-align: left">
            <a href="{{ path('khatovar_web_fight') }}"><img src="{{ asset('bundles/khatovarweb/images/hache_gauche.png') }}" class="photolink" alt="" /><br />
                Retour au combat</a>
        </div>
        <div class="navigation"></div>
        <div class="navigation" style="text-align: right">
            <a href="{{ path('khatovar_web_fight', {'pratique': 'technique'}) }}"><img src="{{ asset('bundles/khatovarweb/images/hache_droite.png') }}" class="photolink" alt="" /><br />
                Technique</a>
        </div>
    </div>
{% endblock %}
