{% extends 'KhatovarWebBundle:Default:membres-layout.html.twig' %}

{% block member_name %}
    Lech’Goutte, le barbare
{% endblock %}

{% block member_picture %}
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824114403-958d9643.jpg'|popup_picture('photo') }}
    {% endautoescape %}
{% endblock %}

{% block member_rank %}
    barbare
{% endblock %}

{% block member_citation %}
    Une chaise de touchée et c’est 25 pompes&nbsp;!!!
{% endblock %}

{% block member_skill %}
    forge, bricolage lourd, Préparateur physique, empêcheur de tourner en rond, bourreau d’enfants
{% endblock %}

{% block member_age %}
    30 (à deux trois vaches près)
{% endblock %}

{% block member_size %}
    1 m 80, comme mon épée
{% endblock %}

{% block member_weight %}
    90 kg hors bière et inavouable après un gueuleton
{% endblock %}

{% block member_strongness %}
    le droit…
{% endblock %}

{% block member_weakness %}
    le gauche et la vaisselle
{% endblock %}

{% block member_album %}21{% endblock %}

{% block member_story %}
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831123005-30e94612.jpg'|popup_picture('floatleft') }}
    {% endautoescape %}
    <p>
        Le barbare est exactement ce que son nom indique&nbsp;: une brute épaisse, très stupide et très forte.
        Il a deux modèles dans la vie&nbsp;: Conan et Krän (que ceux qui ne connaissent pas se taisent, ou ils
        mourront).
    </p>
    <p>
        Il tente au maximum de se rapprocher de ces deux idéaux. Sauf qu’à notre époque, il s’avère
        compliqué de trouver tous les éléments de leur biographie respective. À défaut d’une roue à faire
        tourner pour faire pousser les muscles, il doit se contenter de bouger de la fonte comme tout un
        chacun. Ce manquement face à une tradition bien établie le désespère, mais enfin, il faut bien
        vivre avec son temps, n’est-ce pas ma brave dame? Mais c’est ben vrai que c’était mieux avant…
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831131401-5915675e.jpg'|popup_picture('floatright') }}
    {% endautoescape %}
    <p>
        Outre sa musculature, le barbare ne tente surtout pas de développer son intelligence. Il se borne
        au combat, sinon c’est maux de tête assurés&nbsp;! Et pourquoi couper les cheveux en quatre alors que
        des cornes de bière ou un coup de hache bien appliqué suffisent le plus souvent à régler tous les
        problèmes&nbsp;? Sa devise dans la vie&nbsp;: pourquoi faire compliqué quand on peut faire simple&nbsp;? De toutes
        façon c’est lui le chef, donc il a toujours raison, même quand il a tort. Et même qu’en l’occurrence,
        le tort tue, ouarf ouarf. Faut pas croire, l’humour barbare, c’est vraiment hilarant, surtout quand
        l’autre brandit sa hache. D’une simplicité redoutable. Le barbare est un peu barré, on l’aura compris.
        Il n’a qu’une seule limite, et c’est Limite, le bon vieux chevalier noir.
    </p>
    <p>
        Enfin, pour en revenir à son enfance, c’est assez rapide à raconter. En fait, à peine sorti du ventre
        de sa mère, il a tout de suite commencé à taper sur tout ce qui bougeait, ou pas d’ailleurs. Avec tout ce qui lui
        tombait sous la main, du plus inoffensif (feuilles d’arbres, fleurs…) au plus dangereux (verre, corne,
        armes diverses). Et en grandissant, cette manie ne l’a jamais lassé, on s’amuse comme on peut à la
        campagne. Mais bref, en désespoir de cause, ses parents ont fini par renoncer à lui inculquer les
        rudiments de l’agriculture (il assommait les bêtes de somme au point de les tuer et écrasait les semis
        au lieu de les planter).
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831130417-13c8bfc3.jpg'|popup_picture('floatleft') }}
    {% endautoescape %}
    <p>
        Ils ont alors eu une idée de génie, ou simplement de bon sens&nbsp;: pour mettre à profit les bonnes dispositions
        de leur enfant (taper&nbsp;!). Ils l’ont donc conduit auprès du forgeron du crû pour en faire son apprenti. Le
        forgeron lui-même fut impressionné par sa capacité à frapper, frapper inlassablement tout ce qui se
        présentait. Il l’embaucha&nbsp;: l’enthousiasme de sa nouvelle recrue compensait largement son absence de
        technique. Et le barbare finit même par apprendre quelques trucs utiles, comme la façon de fabriquer une
        belle lame.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824114310-4ab51030.jpg'|popup_picture('floatright') }}
    {% endautoescape %}
    <p>
        Toutefois, il ne perdit jamais tout à fait sa mauvaise habitude de frapper tout le temps sur tout, en
        particulier lors des (nombreuses) soirées de beuverie auxquelles il prenait part. Et un jour, où il avait
        peut-être englouti une corne de trop, il frappa un homme au point de le tuer. Ce qui, par hasard ou caprice
        de la Nature, n’était encore jamais arrivé. Tout surpris de ce nouveau pouvoir qu’il se découvrait avec
        ravissement, le barbare se remit à frapper de plus belle. Une tuerie… d’ailleurs, le nombre de morts n’a
        jamais pu être estimé avec exactitude (un, vingt, cent, mille, plus&nbsp;?), vu le degré de délabrement des cadavres.
        Peu importe au fond, cela alimente sa légende. En tout cas, il dut fuir (car le meurtre est tout de même puni
        par la loi). Dans sa fuite, il rencontra le chevalier noir, et ces deux hommes si bien faits pour s’entendre
        devinrent les meilleurs amis du monde. Ensemble, ils intégrèrent donc la Compagnie noire. Le barbare y pris
        le nom de Lech’goutte, pour sa propension marquée à finir les cornes des autres. Et jusque sur les tables.
        Jusqu’à la dernière goutte…
    </p>
{% endblock %}
