{% extends 'KhatovarWebBundle:Default:membres-layout.html.twig' %}

{% block member_name %}
    Pépé Volaille, l’arnaqueur
{% endblock %}

{% block member_picture %}
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831122756-1e133f92.jpg'|popup_picture('photo') }}
    {% endautoescape %}
{% endblock %}

{% block member_rank %}
    escroc
{% endblock %}

{% block member_citation %}
    Booook
{% endblock %}

{% block member_skill %}
    Imite magnifiquement le poulet (voir ci-dessus), guérit systématiquement et miraculeusement de toute blessure soit-disant mortelle…
{% endblock %}

{% block member_age %}
    3 décades (et quelques)
{% endblock %}

{% block member_size %}
    6 pieds 8 pouces
{% endblock %}

{% block member_weight %}
    juste ce qu'il faut
{% endblock %}

{% block member_strongness %}
    fondage de grille de forge…
{% endblock %}

{% block member_weakness %}
    … mais le forgeron est pas trop d’accord
{% endblock %}

{% block member_album %}32{% endblock %}

{% block member_story %}
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824112358-ae305bc2.jpg'|popup_picture('float floatright') }}
    {% endautoescape %}
    <p>
        Issu d’une noble et riche famille, Pépé Volaille (on n’a jamais connu son vrai nom) n’était en rien destiné à devenir arnaqueur et mercenaire. Sa naissance combla ses parents. Ils dorlotèrent ce premier fils et l’entourèrent d’amour pendant toutes ses jeunes années. Ils lui firent donner la meilleure éducation, les plus beaux vêtements, les joujoux les plus amusants.
    </p>
    <p>
        Mais jamais l’enfant ne pouvait sortir. «&nbsp;Le monde extérieur est bien trop laid pour toi, mon trésor&nbsp;», susurrait sa mère. «&nbsp;Ton rang, voilà ce qui importe&nbsp;», ajoutait son père.
    </p>
    <p>
        Pépé Volaille se montrait récalcitrant. Il n’aimait pas ce monde de luxe, il ne rêvait qu’aventures. Et il faisait preuve de talents naturels peu compatibles avec les exigences de la noblesse. Pour passer le temps, il n’aimait rien tant que «&nbsp;déplacer&nbsp;» les objets précieux (on les retrouvait toujours dans sa chambre) et «&nbsp;emprunter&nbsp;» la bourse des invités prestigieux de ses géniteurs, qui, un peu gênés, parvenaient tout de même à l’excuser.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824130347-ac977c63.jpg'|popup_picture('float floatleft') }}
    {% endautoescape %}
    <p>
        Avec l’adolescence, l’ennui de Pépé Volaille se transforma en répulsion pure et simple pour son univers doré. Poussé par une curiosité jamais assouvie pour ce monde extérieur dont il percevait quelques échos à travers les vastes murs de la propriété familiale, il finit tout bonnement par s’enfuir de chez lui.
    </p>
    <p>
        Il avait à cette époque une quinzaine d’années à peine. Pour vivre, il décida d’exploiter ses dons de tireur de bourse. Sur le terrain, il apprit également quelques techniques de combat redoutables. Il était heureux comme jamais.
    </p>
    <p>
        Petit à petit, il forma autour de lui un gang redoutable de voleurs. Ils sévissaient dans les riches quartiers, jusqu’à une triste nuit où l’un d’eux fut pris (et aussitôt pendu haut et court, pour l’exemple). La vision quotidienne du corps pourrissant de leur compagnon doucha sérieusement les jeunes voleurs. Pépé Volaille décida de quitter la ville, dont il commençait de toute façon à se lasser.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824115415-52716805.jpg'|popup_picture('float floatright') }}
    {% endautoescape %}
    <p>
        Espérant de nouvelles aventures, il se fit engager dans l’escorte d’une noble demoiselle qu’on amenait à marier au comte d’une région voisine. L’alliance était vitale pour que soit préservée la paix.
    </p>
    <p>
        Par un hasard quelconque du trajet, Pépé Volaille put un jour échanger quelques mots avec la belle. Elle n’aimait pas son futur, elle était éplorée. Pépé Volaille la réconforta, et de mots en gestes, lui prit son pucelage. Et la donzelle éblouie résolut de s’enfuir avec lui, en emportant sa dot (un coffret de lingots d’or, un autre de pierres précieuses).
    </p>
    <p>
        Pépé Volaille était enchanté. Il avait trouvé sa voie. Désormais, il séduirait des idiotes bien nanties, récupérerait leurs richesses et s’enfuirait en les abandonnant. Aussitôt, il mit à exécution ce beau programme, avec un succès jamais démenti. Mais son argent si mal acquis fondait dans ses poches aussi vite, sinon plus, qu’il ne le gagnait. Trop de beuveries, trop de paris, trop de femmes…
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824112251-caa77c6d.jpg'|popup_picture('float floatleft') }}
    {% endautoescape %}
    <p>
        Un jour qu’il était entre deux coups, il remarqua une jeune femme ravissante, à la peau d’une pâleur extrême. Elle le prit pour un jeune noble (sa mise était toujours soignée et sa parole emprunte de l’éducation reçue chez ses parents), et tenta de le séduire.
    </p>
    <p>
        Pépé Volaille fut pris à son propre jeu. Il tomba amoureux d’elle, et après quelques hésitations, lui révéla toute sa vie. Il en résulta une dispute mémorable, suivi d’une nuit enflammée (première d’une longue série). Car Pépé Volaille et sa belle décidèrent de s’associer, formant un duo irrésistiblement dangereux et efficace.
    </p>
    <p>
        Croisant par hasard le chemin de la compagnie franche du Khatovar, les tourtereaux décidèrent de l’intégrer, apportant à cette joyeuse troupe de nouvelles et intéressantes compétences qui contribuèrent à sa gloire.
    </p>
{% endblock %}
