{% extends 'KhatovarWebBundle:Default:membres-layout.html.twig' %}

{% block member_name %}
    Limite, le Capitaine
{% endblock %}

{% block member_picture %}
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831132312-64c8fc16.jpg'|popup_picture('photo') }}
    {% endautoescape %}
{% endblock %}

{% block member_rank %}
    Capitaine de la compagnie
{% endblock %}

{% block member_citation %}
    Repose cette hache tout de suite&nbsp;!
{% endblock %}

{% block member_skill %}
    combat, animation des ateliers
{% endblock %}

{% block member_age %}
    peu importe, ils me doivent tous respect et obéissance dus à mon rang
{% endblock %}

{% block member_size %}
    cf âge
{% endblock %}

{% block member_weight %}
    avec ou sans équipement&nbsp;?
{% endblock %}

{% block member_strongness %}
    capitaine despotique et autoritaire
{% endblock %}

{% block member_weakness %}
    volonté en berne face au rouleau à pâtisserie de Blanche
{% endblock %}

{% block member_album %}20{% endblock %}

{% block member_story %}
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831131250-4b434ca3.jpg'|popup_picture('floatleft') }}
    {% endautoescape %}
    <p>
        Le Dark Knight en bref&nbsp;: contrairement à ce que son nom pourrait laisser croire, le chevalier noir
        (en anglais, c’est plus stylé) n’est pas réellement un chevalier, du moins pas au sens classique du terme.
        Il ne combat pas, ne défend pas la veuve et l’orphelin, fuit le danger. Ou encore, pour insister lourdement,
        il est le plus couard, le plus faible, le plus paresseux des chevaliers. Mais il est plutôt bel homme (il
        fallait bien lui laisser une qualité, quoique ce point fasse encore débat parmi les dames). Oyez, oyez,
        braves gens, son histoire ô combien édifiante.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831132320-180334c8.jpg'|popup_picture('floatright') }}
    {% endautoescape %}
    <p>
        Depuis toujours, il se destinait à la chevalerie. Des signes incontestables l’avaient conforté dans cette
        voie&nbsp;: armé de son invincible épée imaginaire, il avait vaincu les monstres les plus féroces, les ennemis
        les plus redoutables, les armées les plus nombreuses, et ce dès l’âge le plus tendre. Bien sûr, c’était pour
        jouer, mais qu’on ne s’avise de rire&nbsp;: c’était toujours mieux que rien. Surtout pour un tout petit paysan
        de rien du tout, comme se plaisaient à le répéter ses manants de parents. Mais il n’en démordait pas, il serait
        Bayard ou rien.
    </p>
    <p>
        À l’adolescence, il avait pu se consacrer de plus près à sa passion, ou du moins aux parties les plus
        essentielles&nbsp;: manger, boire et séduire les femmes, de préférence très belles, blondes à forte poitrine,
        etc., et si possible pâmées devant son imposante personne. Mais en général, il se contentait de ce qu’il
        trouvait, pourvu que… hum… bref… vous voyez bien ce que je veux dire. Et pour le reste, il continuait à
        se battre avec ses armes imaginaires (ça fait moins mal aux muscles de toute façon, et on ne risque pas la mort)
        et à rêver de duels épiques.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831131116-46c577b2.jpg'|popup_picture('floatleft') }}
    {% endautoescape %}
    <p>
        Un jour, enfin, le Destin, la Chance, ou ce que vous voulez lui sourit. Il faut savoir qu’à cette époque, une
        guerre fratricide divisait le Royaume. Les armées ennemies ravageaient les terres et des batailles sanglantes
        avaient lieu tous les jours. Justement, un matin qu’il titubait, les jambes un peu molles après une longue nuit
        orgiaque, il découvrit sur le chemin un chevalier, gravement blessé, qui ne pouvait plus marcher. Son armure
        cabossée étincelait au soleil, son bouclier semblait jeter des flammes, sa bâtarde dégoulinait de sang frais.
        Ce soldat si magnifique implorait à l’aide. Quelle belle image formait ce preux chevalier agonisant pour avoir
        défendu les faibles dans un noble combat pour une juste cause&nbsp;! Notre héros l’admira, puis, ni une, ni
        deux, prit son couteau de table, et sans hésiter lui trancha la gorge… ainsi que les sangles de l’armure, et
        partit avec sans demander son reste. Nul ne sait si le chevalier blessé a survécu.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831123013-c692eccd.jpg'|popup_picture('floatright') }}
    {% endautoescape %}
    <p>
        C’est ainsi qu’il conquit et son armure et son épée. Mais malheureusement, pas le courage ou les beaux idéaux
        qui vont avec. Alors, après avoir intégré l’armée à la place du chevalier assassiné, il avait vite déchanté,
        car en fait, cette vie est très surfaite et loin d’être aussi exaltante qu’il l’aurait cru. Les rigueurs et
        contraintes de l’armée ne lui conviennent pas, mais alors pas du tout&nbsp;: nourriture détestable, literie
        inconfortable, repos tout à fait insuffisant… trop dur. Il finit par déserter. Ce qui bien entendu est
        formellement interdit et puni de mort. Pour échapper au sort qui lui est promis, il décide donc de s’enfuir et
        d’intégrer une compagnie de mercenaires, la Compagnie Noire (comme son nom, trop drôle&nbsp;!) avec un acolyte
        (un alcoolique&nbsp;?), Lech’Goutte, rencontré au cours de sa fuite éperdue.
    </p>
    <p>
        Il dévoilé alors sa capacité unique (la seule, d'ailleurs) à réussir à contenir les excès de rage du barbare, et cela
        sans violence, juste en argumentant avec lui (chose inconnue pour le barbare jusque-là). Devant ce don des dieux,
        il fut nommé Capitaine de la dernière Compagnie Franche du Khatovar. La gloire et le pouvoir étaient enfin à sa portée&nbsp;!
        <br />
        <br />
    </p>
{% endblock %}
