{% extends 'KhatovarWebBundle:Default:membres-layout.html.twig' %}

{% block member_name %}
    Krakote, la voleuse
{% endblock %}

{% block member_picture %}
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824114333-7aabc461.jpg'|popup_picture('photo') }}
    {% endautoescape %}
{% endblock %}

{% block member_rank %}
    on sait pas trop…
{% endblock %}

{% block member_citation %}
    Tu vas voir qui c'est la gonzesse&nbsp;!
{% endblock %}

{% block member_skill %}
    brille dans le noir et brûle au soleil…
{% endblock %}

{% block member_age %}
    ça change tous les ans…
{% endblock %}

{% block member_size %}
    1 m 68 et demi (très important, le demi&nbsp;!)
{% endblock %}

{% block member_weight %}
    on demande pas son poids à une demoiselle&nbsp;!
{% endblock %}

{% block member_strongness %}
    essaye…
{% endblock %}

{% block member_weakness %}
    … mais n’y arrive pas toujours…
{% endblock %}

{% block member_album %}31{% endblock %}

{% block member_story %}
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824132459-a4524c4f.jpg'|popup_picture('float floatright') }}
    {% endautoescape %}
    <p>
        Si une personne peut être décrite comme étant 1) née dans les souterrains d’une ville, 2) très blanche de peau, 3) aimant le sang, vous en déduirez forcément qu’il s’agit d’un vampire. Ce qui serait entièrement faux, du moins dans le cas précis de notre charmante Krakote.
    </p>
    <p>
        Il est vrai que sa vie n’a pas débuté sous les meilleurs auspices, puisque sa pauvre hère de mère est morte en lui donnant naissance dans les souterrains d’une ville, où elle avait trouvé refuge lors d’une violente attaque de barbares.
    </p>
    <p>
        Nul ne sait comment l’enfant réussit à survivre, au milieu de la folie qui succède toujours à la conquête d’une ville. On raconte souvent qu’elle doit son salut à quelque bête qui l’aurait prise en pitié et nourrie de son lait. Certains prétendent même que cette bête serait en fait un démon, et que l’enfant aurait conclu un pacte avec le diable.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831124353-7c247ddf.jpg'|popup_picture('float floatleft') }}
    {% endautoescape %}
    <p>
        Toujours est-il que Krakote vécut en paix dans les souterrains pendant les onze premières années de son existence. Ce qui explique sans doute la blancheur extraordinaire de sa peau, longtemps privée de lumière, mais aussi la sensibilité particulière de ses yeux clairs au soleil (sensibilité qui accentue encore sa ressemblance avec les vampires).
    </p>
    <p>
        Un jour, alors que la jeune enfant caracolait comme à son habitude, poursuivant l’exploration de son univers, elle aperçut une chose étrange au loin, une tache blanche dont elle s’approcha, curieuse.
    </p>
    <p>
        Peu à peu, l’obscurité s’effaçait, et finalement, Krakote se retrouva à l’air libre, les pieds dans un méchant ruisseau où s’écoulaient les eaux sales de la ville. Le temps de s’habituer à ce nouvel environnement, de gambader un peu dans la prairie aux herbes hautes et aux odeurs étranges (agréables, pour le dire, ce qui changeait agréablement Krakote de son ordinaire), la brave fille se perdit pour de bon.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824131806-c01dce46.jpg'|popup_picture('float floatright') }}
    {% endautoescape %}
    <p>
        La nuit tombant, elle décida de suivre un flot de personnes qui se dirigeait vers une haute muraille de pierre et disparaissait de l’autre côté. Elle put pénétrer sans peine dans la ville, où elle commença, non sans malentendus, une nouvelle vie.
    </p>
    <p>
        Une fois qu’elle avait faim, par exemple, elle s’était laissée allécher par la bonne odeur émanant d’une rôtisserie. Ni une, ni deux, elle s’empara donc d’un beau poulet rôti et s’apprêtait à le dévorer à belles dents, quand un quidam vêtu d’une toque blanche et d’un tablier s’en prit à elle, l’accusant d’avoir «&nbsp;volé&nbsp;» la volaille. À ses cris, une petite foule commença à se réunir, effrayant Krakote qui n’avait jamais vu tant de monde. Elle s’enfuit sans plus tarder et prit l’habitude de se nourrir ainsi, développant sa rapidité et ses capacités d’esquive.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824110838-69d52333.jpg'|popup_picture('float floatleft') }}
    {% endautoescape %}
    <p>
        Elle déroba également quelques vêtements pour remplacer les hardes dont elle se vêtait jusqu’ici (les souterrains servaient aussi de poubelle et de dépotoirs à certaines riches maisons).
    </p>
    <p>
        À force d’exploits (elle réussit à sortir de prison, endroit qu’elle détesta, en séduisant un gardien pourtant réputé incorruptible), elle se fit remarquer par un ponte de la Cour des Miracles, qui la fit former aux arts divinatoires et lui enseigna quelques passes à la dague.
    </p>
    <p>
        Elle sut s'illustrer avec sa fameuse prédiction, toujours réalisée «&nbsp;vous allez perdre une grosse somme d'argent&nbsp;», qui s'accordait tout à fait avec les tarifs qu'elle pratiquait, et la disparition soudaine et inattendue de la bourse de ses clients.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831122819-fcb33c82.jpg'|popup_picture('float floatright') }}
    {% endautoescape %}
    <p>
        Sa carrière était lancée. Mais bien vite, quelques rumeurs insistantes semèrent le trouble dans la bonne ville. Cette Krakote, venue d'on ne savait trop où, avec ses prédictions trop vraies et sa fortune trop rapide, finit par passer pour une sorcière. D'ailleurs, elle était rousse, il se murmurait même qu'elle avait conclu, encore enfant, un pacte avec le démon.
    </p>
    <p>
        Pour éviter le bûcher qui la menaçait, Krakote n’eut d’autre choix que de s’enfuir de la ville, toutes affaires cessantes. Cette terrible menace devait cependant peser sur elle toute sa vie, sa rousseur la désignant comme bouc-émissaire tout trouvé.
    </p>
    <p>
        Sur son chemin, elle rencontra un bel homme, musclé, mais dont les rondeurs disaient assez l’aisance. Elle voulut le séduire pour s’assurer quelque sécurité.
    </p>
    <p>
        Las, l’inconnu s’avéra être un entourloupeur et anarqueur de première, comme elle. Sa déception passée, elle s’enticha encore plus de lui. Leur entente scellée par de belles nuits enflammées, ils finirent par former un duo irrésistiblement dangereux et efficace.
    </p>
    <p>
        Croisant par hasard le chemin de la compagnie franche du Khatovar, les tourtereaux décidèrent de l’intégrer, apportant à cette joyeuse troupe de nouvelles et intéressantes compétences qui contribuèrent à sa gloire.
    </p>
{% endblock %}
