<div style="padding-top: 5px">
    <ul>
        <li>
            <a href="{{ path('khatovar_web_homepage') }}" title="">Accueil</a>
        </li>
        <li>
            <a href="{{ path('khatovar_web_camp') }}" title="">Nos prestations</a>
            <ul>
                <li>
                    <a href="{{ path('khatovar_web_camp', {'atelier': 'introduction'}) }}" title="">Introduction</a>
                </li>
                <li>
                    <a href="{{ path('khatovar_web_fight') }}" title="">Combat</a>
                </li>
                <li>
                    <a href="{{ path('khatovar_web_camp', {'atelier': 'campement'}) }}" title="">Vie de camp</a>
                </li>
                <li>
                    <a href="{{ path('khatovar_web_camp', {'atelier': 'forge'}) }}" title="">Forge</a>
                </li>
                <li>
                    <a href="{{ path('khatovar_web_camp', {'atelier': 'cuir'}) }}" title="">Cuir</a>
                </li>
                <li>
                    <a href="{{ path('khatovar_web_camp', {'atelier': 'maille'}) }}" title="">Maille</a>
                </li>
                <li>
                    <a href="{{ path('khatovar_web_camp', {'atelier': 'armes'}) }}" title="">Armes et armures</a>
                </li>
                <li>
                    <a href="{{ path('khatovar_web_camp', {'atelier': 'herbo'}) }}" title="">Herboristerie et cuisine</a>
                </li>
                <li>
                    <a href="{{ path('khatovar_web_camp', {'atelier': 'tissage'}) }}" title="">Tissage</a>
                </li>
                <li>
                    <a href="{{ path('khatovar_web_camp', {'atelier': 'calligraphie'}) }}" title="">Calligraphie</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{{ path('khatovar_web_schedule') }}" title="">Exactions à venir</a>
        </li>
        <li>
            <a href="{{ path('khatovar_web_references') }}" title="">Exactions passées</a>
            <ul>
                <li>
                    <a href="{{ path('khatovar_web_references', {'year': 2014}) }}" title="">2014</a>
                </li>
                <li>
                    <a href="{{ path('khatovar_web_references', {'year': 2013}) }}" title="">2013</a>
                </li>
                <li>
                    <a href="{{ path('khatovar_web_references', {'year': 2012}) }}" title="">2012</a>
                </li>
                <li>
                    <a href="{{ path('khatovar_web_references', {'year': 2011}) }}" title="">2011</a>
                </li>
                <li>
                    <a href="{{ path('khatovar_web_references', {'year': 2010}) }}" title="">2010</a>
                </li>
                <li>
                    <a href="{{ path('khatovar_web_references', {'year': 2009}) }}" title="">2008-2009</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{{ path('khatovar_web_members') }}" title="">Les membres</a>
        </li>
        <li>
            <a href="http://www.compagniefranchedukhatovar.fr/piwigo/index.php" rel="external" title="">Galerie</a>
        </li>
        <li>
            <a href="{{ path('khatovar_web_links') }}" title="">Contacts</a>
            <ul>
                <!--
                <li>
                    <a href="{{ path('khatovar_web_links', {'contact': 'recrutement'}) }}" title="">Nous recrutons !</a>
                </li>
                -->
                <li>
                    <a href="{{ path('khatovar_web_links', {'contact': 'contact'}) }}" title="">Qui-sommes-nous&nbsp;?</a>
                </li>
                <li>
                    <a href="{{ path('khatovar_web_links', {'contact': 'allies'}) }}" title="">Nos alliés</a>
                </li>
                <li>
                    <a href="{{ path('khatovar_web_links', {'contact': 'fournisseurs'}) }}" title="">Nos fournisseurs</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
