<style>
    article ul {
        list-style: none;
    }
</style>

{{ form_start(form) }}
<div class="alert">
    {{ form_errors(form) }}
</div>

{{ form_row(form.name, { tip: 'khatovar_exaction.tips.name'|trans }) }}
{{ form_row(form.place, { tip: 'khatovar_exaction.tips.place'|trans }) }}
{{ form_row(form.start, { tip: 'khatovar_exaction.tips.start'|trans }) }}
{{ form_row(form.end, { tip: 'khatovar_exaction.tips.end'|trans }) }}
{{ form_row(form.map, { tip: 'khatovar_exaction.tips.map'|trans }) }}
{{ form_row(form.introduction, { tip: 'khatovar_exaction.tips.introduction'|trans }) }}

<div class="form-group form-textarea">
    <div class="has-tip"
         data-tooltip
         aria-haspopup="true"
         title="{{ 'khatovar_exaction.tips.links'|trans }}">
        <i class="fa fa-question-circle"></i>
    </div>
    {{ form_label(form.links) }}
    {{ form_errors(form.links) }}
    <ul id="link-fields-list" data-prototype="{{ form_widget(form.links.vars.prototype) | e }}">
        {% for linkField in form.links %}
            <li>
                {{ form_errors(linkField) }}
                {{ form_widget(linkField) }}
                <a href="#" class="remove-closest-link">Remove</a>
            </li>
        {% endfor %}
    </ul>
    <a href="#" id="add-another-link">Add another link</a>
</div>

{% if exaction_passed %}
    {{ form_row(form.onlyPhotos, { tip: 'khatovar_exaction.tips.only_photos'|trans }) }}
    {{ form_row(form.abstract, { tip: 'khatovar_exaction.tips.abstract'|trans }) }}
    {{ form_row(form.image, { tip: 'khatovar_exaction.tips.image'|trans }) }}
    {{ form_row(form.imageStory, { tip: 'khatovar_exaction.tips.image_story'|trans }) }}
{% endif %}

{{ form_row(form._token) }}

<div class="form-group">
    {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-default'} }) }}
</div>
{{ form_end(form) }}

<script>
    var linkCount   = 0;
    var $linkList   = $('#link-fields-list');
    var linkKeys    = {{ form.links|keys|json_encode }};
    var $addLinkTag = $('#add-another-link');

    $(function() {
        $addLinkTag.click(function(e) {
            e.preventDefault();

            if (-1 !== $.inArray(linkCount, linkKeys)) {
                linkCount++;
            }

            var newWidget = $linkList.attr('data-prototype');
            newWidget = newWidget.replace(/__name__/g, linkCount);

            var newLink = $('<li></li>').html(newWidget).append('<a href="#" class="remove-closest-link">Remove</a>');
            newLink.appendTo($linkList);

            linkCount++;
            return false;
        });

        $(document).on('click', '.remove-closest-link', function(){
            $(this).closest('li').remove();

            return false;
        });
    });
</script>
