{% extends "KhatovarWebBundle::layout.html.twig" %}

{% block inarticle %}
    <h2>Ajouter une photo</h2>

    {% if not_a_member is defined %}
        <h4>
            Désolé, vous n’avez pas de page de membres.<br />
            Vous ne pouvez donc pas uploader de photos.
        </h4>
        <a href="{{ path('khatovar_web_photos') }}">Retour à l’accueil du site</a>
    {% else %}
        <div class="form-background">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.file) }}
                {{ form_widget(form.file, { 'attr': {'class': 'form-element'} }) }}
            </div>

            {% embed '@KhatovarWeb/Photo/photo-form.html.twig' %}{% endembed %}

            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}
