{% extends "KhatovarWebBundle::layout.html.twig" %}

{% form_theme form 'KhatovarWebBundle:form:fields.html.twig' %}

{% block inarticle %}
    <h2>Ajouter une photo</h2>

    <div class="form-background">
        {{ form_start(form) }}

        <div class="alert">
            {{ form_errors(form) }}
        </div>

        <div class="form-group">
            {{ form_row(form.file, { 'attr': {'class': 'form-element'} }) }}
        </div>

        {% include 'KhatovarPhotoBundle:Photo:_form.html.twig' with {'form': form} %}

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
